Here we combine all the datasets from different sources into one dataset.

In [11]:
import os
import sys
sys.path.append("../../")  # Adds higher directory to python modules path.
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
from core.ODEDataset import ODEDataset
from utils import constants

In [12]:
# Load the datasets
ESMAP = ODEDataset("ESMAP")
ESMAP.from_csv("../playground/data/ESMAP/ESMAP.csv")

Tanzania = ODEDataset("Tanzania")
Tanzania.from_csv("../playground/data/LSMS/Tanzania/Tanzania.csv")


CEFA_Tanzania = ODEDataset("CEFA_Tanzania")
CEFA_Tanzania.from_csv("../playground/data/CEFA_Tanzania/CEFA_Tanzania.csv")

dataset = ESMAP.concat(Tanzania).concat(CEFA_Tanzania)

dataset = dataset.select([
    "ID"
] + constants.DRIVERS_LIST + constants.PRESENCE_LIST)

In [13]:
dataset.preview()

,ID,Years_of_HHH_in_community,Dwelling_quality_index,Hours_available_electricity,Measurement_age,Monthly_expenditure,Number_of_rooms,Climate_zone_lev_1,Climate_zone_lev_2,Age_HHH,...,Ownership_large_livestock,Clean_fuel,Tariff_payment_frequency,Presence_refrigerator/freezer,Presence_iron,Presence_fan,Presence_DVD_player,Presence_radio/stereo,Presence_phone_charger,Presence_TV
0,1001_3,NaN,0.0,NaN,NaN,63600.0,3.0,3.0,NaN,NaN,...,No,No,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1001_3,NaN,0.0,NaN,NaN,63600.0,3.0,3.0,NaN,NaN,...,No,No,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1026_3,20.0,0.0,NaN,NaN,65400.0,3.0,3.0,3.0,NaN,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,1026_3,20.0,0.0,NaN,NaN,65400.0,3.0,3.0,3.0,NaN,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,1027_2,15.0,0.0,NaN,NaN,NaN,2.0,3.0,3.0,NaN,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [14]:
print(len(dataset))

dataset.to_csv("../playground/data/esmap_lsms-tanzania.csv")

10718

Ownership_motorized_vehicle
Yes    4668
No     1445
1.0     314
0.0      75
Name: count, dtype: int64