Here we combine all the datasets from different sources into one dataset.

In [1]:
import os
import sys
sys.path.append("../")  # Adds higher directory to python modules path.
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
from core.ODEDataset import ODEDataset
from utils import constants, common_modifiers

In [2]:
# Load the datasets
ESMAP = ODEDataset("ESMAP")
ESMAP.from_csv("../playground/data/ESMAP/ESMAP_with_source.csv")

Tanzania = ODEDataset("Tanzania")
Tanzania.from_csv("../playground/data/LSMS/Tanzania/Tanzania.csv")


CEFA_Tanzania = ODEDataset("CEFA_Tanzania")
CEFA_Tanzania.from_csv("../playground/data/CEFA_Tanzania/CEFA_Tanzania.csv")

Tanzania = Tanzania.apply(common_modifiers.add_const_driver("source", "tanzania"))
CEFA_Tanzania = CEFA_Tanzania.apply(common_modifiers.add_const_driver("source", "tanzania"))
dataset = ESMAP.concat(Tanzania).concat(CEFA_Tanzania)

dataset = dataset.select([
    "ID", 'source'
] + constants.DRIVERS_LIST + constants.PRESENCE_LIST)

In [3]:
dataset.preview()

,ID,source,Years_of_HHH_in_community,Dwelling_quality_index,Hours_available_electricity,Measurement_age,Monthly_expenditure,Number_of_rooms,Climate_zone_lev_1,Climate_zone_lev_2,...,Ownership_large_livestock,Clean_fuel,Tariff_payment_frequency,Presence_refrigerator/freezer,Presence_iron,Presence_fan,Presence_DVD_player,Presence_radio/stereo,Presence_phone_charger,Presence_TV
0,1001_3,kenya,NaN,0.0,NaN,NaN,63600.0,3.0,3.0,NaN,...,No,No,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1001_3,kenya,NaN,0.0,NaN,NaN,63600.0,3.0,3.0,NaN,...,No,No,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1026_3,kenya,20.0,0.0,NaN,NaN,65400.0,3.0,3.0,3.0,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1026_3,kenya,20.0,0.0,NaN,NaN,65400.0,3.0,3.0,3.0,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1027_2,kenya,15.0,0.0,NaN,NaN,NaN,2.0,3.0,3.0,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(len(dataset))

dataset.to_csv("../playground/data/esmap_lsms-tanzania_with_source.csv")

10718