In [1]:
import os
import sys
from utils import common_modifiers
import numpy as np
sys.path.append("../")  # Adds higher directory to python modules path.
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
from core.ODEDataset import ODEDataset

# Merge the datasets:
- Kenya
- Zambia
- ESMAP

In [2]:
Kenya = ODEDataset("Kenya").from_csv("../playground/data/ESMAP/kenya/kenya.csv", index_col=0).apply(
    common_modifiers.rename({"cluuq": "ID"})).drop_columns(["Number_workers"])

Kenya = Kenya.apply(common_modifiers.add_const_driver("Tariff_payment_frequency", np.nan))
Zambia = ODEDataset("Zambia").from_csv("../playground/data/ESMAP/zambia/Zambia.csv", index_col=0).apply(
    common_modifiers.rename({"HouseholdID": "ID"}))

Nigeria = ODEDataset("Nigeria").from_csv("../playground/data/ESMAP/nigeria/Nigeria.csv", index_col=0).apply(
    common_modifiers.rename({"HH_ID": "ID"}))

print("Drivers")
print("Kenya", len(Kenya.get_columns()))
print("Zambia", len(Zambia.get_columns()))
print("Nigeria", len(Nigeria.get_columns()))

print("Len Datasets")
print("Kenya", len(Kenya))
print("Zambia", len(Zambia))
print("Nigeria", len(Nigeria))

Drivers
Kenya 26
Zambia 26
Nigeria 26
Len Datasets
Kenya 1274
Zambia 3612
Nigeria 43

In [3]:
kcols = Kenya.get_columns()
zcols = Zambia.get_columns()
ncols = Nigeria.get_columns()

z_not_k = []
for i in zcols:
    if i not in kcols:
        z_not_k.append(i)

print("Zambia not in Kenya", z_not_k)

z_not_n = []
for i in zcols:
    if i not in ncols:
        z_not_n.append(i)

print("Zambia not in Nigeria", z_not_n)

Zambia not in Kenya []
Zambia not in Nigeria []

In [4]:
ESMAP = Kenya.concat(Zambia).concat(Nigeria)

# %% Save the merged dataset
filename = "../playground/data/ESMAP/ESMAP.csv"

ESMAP.to_csv(filename)

In [5]:
df = ESMAP.to_dataframe()
print(len(df))
df.head()

4929

,ID,Years_of_HHH_in_community,Dwelling_quality_index,Hours_available_electricity,Measurement_age,Monthly_expenditure,Number_of_rooms,Climate_zone_lev_1,Climate_zone_lev_2,Presence_TV,...,Age_HHH,HH_with_home_business,Education_level_HHH,Socio_status_HHH,Number_adults,Ownership_motorized_vehicle,Ownership_small_livestock,Ownership_large_livestock,Clean_fuel,Tariff_payment_frequency
0,1001_3,NaN,0.6,NaN,NaN,63600.0,3.0,3,NaN,0,...,NaN,"['Yes', [0, 35, 49, 57]]","['Primary education', 'Primary education', 'Lo...",NaN,34.0,No,Yes,No,No,NaN
1,1001_3,NaN,0.6,NaN,NaN,63600.0,3.0,3,NaN,0,...,NaN,"['Yes', [0, 35, 49, 57]]","['Primary education', 'Primary education', 'Lo...",NaN,34.0,No,Yes,No,No,NaN
2,1026_3,20.0,0.4,NaN,NaN,65400.0,3.0,3,3.0,0,...,NaN,"['No', nan]","['Primary education', 'Primary education', nan...",NaN,59.0,Yes,Yes,Yes,No,NaN
3,1026_3,20.0,0.4,NaN,NaN,65400.0,3.0,3,3.0,0,...,NaN,"['No', nan]","['Primary education', 'Primary education', nan...",NaN,59.0,Yes,Yes,Yes,No,NaN
4,1027_2,15.0,0.2,NaN,NaN,NaN,2.0,3,3.0,0,...,NaN,"['Yes', [27]]","['Lower secondary education', 'Primary educati...",NaN,57.0,Yes,Yes,Yes,No,NaN