In [6]:
import geopandas as gpd
import rasterio
from rasterio.mask import mask
import numpy as np

In [24]:
import geopandas as gpd
import rasterio
from rasterio.mask import mask
import numpy as np

def add_climate_majority(gadm_level_path, tiff_src):

    # Load administrative boundaries (e.g., country, county, district)
    gdf_admin = gpd.read_file(gadm_level_path)
    # Load the GeoTIFF file containing climate data
    with rasterio.open(tiff_src) as src:
        # Initialize an empty list to hold majority climate values
        climate_majority = []

        # Loop through each administrative region
        for _, row in gdf_admin.iterrows():
            # Mask the climate raster to the current region's geometry
            geometry = [row['geometry']]

            # Mask raster data using the district's geometry (GeoDataFrame row's geometry)
            climate_data, transform = mask(src, geometry, crop=True)

            # Flatten the climate data (as it comes in 2D array)
            climate_values = climate_data.flatten()

            # Remove any 'nodata' values if present
            climate_values = climate_values[climate_values != src.nodata]

            # Find the majority climate value (most frequent)
            if climate_values.size > 0:
                values, counts = np.unique(climate_values, return_counts=True)
                majority_value = values[np.argmax(counts)]
                climate_majority.append(majority_value)
            else:
                climate_majority.append(None)

        # Assign the majority climate values to the GeoDataFrame
        gdf_admin['Climate_majority'] = climate_majority
        return gdf_admin

In [38]:
gdf_admin = '../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_1.shp'
tiff_src = '/home/awad/Downloads/wc2.1_10m_tmin/wc2.1_10m_tmin_01.tif'

df = add_climate_majority(gdf_admin, tiff_src)

In [39]:
df.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry,Climate_majority
0,ETH.1_1,ETH,Ethiopia,Addis Abeba,Āddīs Ābaba|Addis Ababa|Adis-Abe,NA,Astedader,City,14,ET.AA,NA,"POLYGON ((38.87945 8.91831, 38.87718 8.91253, ...",6.85050
1,ETH.2_1,ETH,Ethiopia,Afar,NA,NA,Kilil,State,02,ET.AF,ET-AF,"POLYGON ((40.15225 8.93196, 40.14091 8.91891, ...",15.77975
2,ETH.3_1,ETH,Ethiopia,Amhara,Amara,NA,Kilil,State,03,ET.AM,NA,"POLYGON ((39.74116 9.02302, 39.74616 9.01526, ...",10.16325
3,ETH.4_1,ETH,Ethiopia,Benshangul-Gumaz,Beneshangul Gumu,NA,Kilil,State,06,ET.BE,NA,"POLYGON ((34.86679 9.90226, 34.89768 9.88176, ...",14.37075
4,ETH.5_1,ETH,Ethiopia,Dire Dawa,NA,NA,Astedader,City,15,ET.DD,ET-DD,"POLYGON ((41.93585 9.66346, 41.95234 9.65467, ...",11.75350

In [40]:
df.to_csv('../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_1.csv')

In [47]:
gdf_admin = '../playground/data/ESMAP/Liberia_L/gadm36_LBR_shp/gadm36_LBR_2.shp'
tiff_src = '/home/awad/Downloads/wc2.1_10m_tmin/wc2.1_10m_tmin_01.tif'

df = add_climate_majority(gdf_admin, tiff_src)
df.head()

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry,Climate_majority
0,LBR,Liberia,LBR.1_1,Bomi,None,LBR.1.1_1,Klay,None,None,District,District,02,None,"POLYGON ((-10.80410 6.46789, -10.79700 6.46141...",20.320999
1,LBR,Liberia,LBR.1_1,Bomi,None,LBR.1.2_1,Mecca,None,None,District,District,04,None,"POLYGON ((-10.58803 6.68246, -10.61335 6.64875...",20.250750
2,LBR,Liberia,LBR.2_1,Bong,None,LBR.2.1_1,Fuamah,None,None,District,District,02,None,"POLYGON ((-10.33262 6.78767, -10.34815 6.79992...",19.635750
3,LBR,Liberia,LBR.2_1,Bong,None,LBR.2.2_1,Jorquelleh,None,None,District,District,04,None,"POLYGON ((-9.33259 6.70867, -9.34491 6.71320, ...",17.255249
4,LBR,Liberia,LBR.2_1,Bong,None,LBR.2.3_1,Kokoyah,None,None,District,District,06,None,"POLYGON ((-9.65754 6.45900, -9.60813 6.55943, ...",17.803499

In [48]:
df.to_csv('../playground/data/ESMAP/Liberia_L/csv_data/GADM_level_2.csv')

In [44]:
gdf_admin = '../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_3.shp'
tiff_src = '/home/awad/Downloads/wc2.1_10m_tmin/wc2.1_10m_tmin_01.tif'

df = add_climate_majority(gdf_admin, tiff_src)
df.head()

,GID_3,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,NAME_3,VARNAME_3,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,geometry,Climate_majority
0,ETH.1.1.1_1,ETH,Ethiopia,ETH.1_1,Addis Abeba,NA,ETH.1.1_1,Addis Abeba,NA,Addis Ketema,NA,NA,Woreda,District,140108,NA,"POLYGON ((38.73495 9.04754, 38.73506 9.04281, ...",NaN
1,ETH.1.1.2_1,ETH,Ethiopia,ETH.1_1,Addis Abeba,NA,ETH.1.1_1,Addis Abeba,NA,Akaki - Kalit,NA,NA,Woreda,District,140101,NA,"POLYGON ((38.77277 8.95171, 38.77113 8.94520, ...",8.6710
2,ETH.1.1.3_1,ETH,Ethiopia,ETH.1_1,Addis Abeba,NA,ETH.1.1_1,Addis Abeba,NA,Arada,NA,NA,Woreda,District,140109,NA,"POLYGON ((38.74380 9.03058, 38.73883 9.03616, ...",NaN
3,ETH.1.1.4_1,ETH,Ethiopia,ETH.1_1,Addis Abeba,NA,ETH.1.1_1,Addis Abeba,NA,Bole,NA,NA,Woreda,District,140104,NA,"POLYGON ((38.85556 8.93829, 38.84938 8.93828, ...",NaN
4,ETH.1.1.5_1,ETH,Ethiopia,ETH.1_1,Addis Abeba,NA,ETH.1.1_1,Addis Abeba,NA,Gulele,NA,NA,Woreda,District,140110,NA,"POLYGON ((38.73495 9.04754, 38.72833 9.04589, ...",6.8505

In [45]:
df.to_csv('../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_3.csv')