# Generate Categories

In [2]:
import pandas as pd
import pathlib

In [10]:
DB_ROOT = "../playground/data/LSMS/Tanzania"
root = pathlib.Path(DB_ROOT)
sheet_name = "Categories"
master_file = root.joinpath("_master.xlsx")

df = pd.read_excel(master_file, sheet_name=sheet_name)
df.head()

,Derived_variables_cat,Final_cat,Original_cat,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Urban/rural,Urban,2,NaN,NaN,NaN,NaN
1,Urban/rural,Rural,1,NaN,NaN,NaN,NaN
2,Male/female_HHH,Male,1,NaN,NaN,NaN,NaN
3,Male/female_HHH,Female,2,NaN,NaN,NaN,NaN
4,Marital_status_HHH,Ongoing,1,NaN,NaN,NaN,NaN

In [11]:
cat_name_col = "Derived_variables_cat"
final_cat_col = "Final_cat"
original_cat_col = "Original_cat"
df = df[[cat_name_col, final_cat_col, original_cat_col]]
df.head()

  Derived_variables_cat Final_cat Original_cat
0           Urban/rural     Urban            2
1           Urban/rural     Rural            1
2       Male/female_HHH      Male            1
3       Male/female_HHH    Female            2
4    Marital_status_HHH   Ongoing            1

In [30]:
categories = {"Education_level_HHH": "Education_level_original2final",
              "Socio_status_HHH": "Socio_status_original2final",
              "Connection_type": "Connection_type_original2final",
              "Dwelling_quality_wall": "Dwelling_quality_wall_original2final",
              "Dwelling_quality_roof": "Dwelling_quality_roof_original2final",
              "Dwelling_quality_floor": "Dwelling_quality_floor_original2final",
              "Dwelling_quality_toilet": "Dwelling_quality_toilet_original2final",
              "Clean_fuel": "Clean_fuel_original2final",
              "Dwelling_toilet_1": "Dwelling_toilet_1_original2final",
              "Dwelling_toilet_2": "Dwelling_toilet_2_original2final",
              "Dwelling_toilet_3": "Dwelling_toilet_3_original2final",
              "Dwelling_toilet_4": "Dwelling_toilet_4_original2final",
              "Dwelling_toilet_5": "Dwelling_toilet_5_original2final",
              "Dwelling_toilet_6": "Dwelling_toilet_6_original2final",
              }

In [31]:
output = ""

for key, value in categories.items():

    dict_value = ""

    for index, row in df[df[cat_name_col] == key].iterrows():
        original = row[original_cat_col]
        if type(original) == str:
            original = original.replace("'", "\\'")
            original = f"'{original}'"

        final = row[final_cat_col]
        if type(final) == str:
            final = final.replace("'", "\\'")
            final = f"'{final}'"

        dict_value += f"{original}: {final},"

    output += f"{value} =" + "{" + dict_value + "}" + "\n"

print(output)

Education_level_original2final ={1: 'No schooling',11: 'Primary education',12: 'Primary education',13: 'Primary education',14: 'Primary education',15: 'Primary education',16: 'Primary education',17: 'Primary education',18: 'Primary education',19: 'Primary education',21: 'Upper secondary education',22: 'Upper secondary education',23: 'Upper secondary education',24: 'Upper secondary education',25: 'Upper secondary education',31: 'Post-secondary non-tertiary education',32: 'Post-secondary non-tertiary education',33: 'Post-secondary non-tertiary education',34: 'Post-secondary non-tertiary education',41: 'Bachelor\'s or equivalent level',42: 'Bachelor\'s or equivalent level',43: 'Bachelor\'s or equivalent level',44: 'Master\'s or equivalent level',45: 'Doctoral or equivalent level',2: 'Not elsewhere classified',}
Socio_status_original2final ={1: 'Employee',2: 'Employer',3: 'Own-account worker non-farm',4: 'Contributing family worker',5: 'Contributing family worker',6: 'Own-account worker farm',}
Connection_type_original2final ={1: 'National grid',2: 'Local mini-grid',3: 'Solar Home System',}
Dwelling_quality_wall_original2final ={1: 0,2: 0,3: 0,4: 0,5: 1,6: 1,7: 0,}
Dwelling_quality_roof_original2final ={1: 0,2: 0,3: 1,4: 0,5: 0,6: 0,7: 0,}
Dwelling_quality_floor_original2final ={1: 0,2: 1,3: 0,}
Dwelling_quality_toilet_original2final ={1: 0,2: 0,3: 0,4: 1,5: 1,6: 1,7: 1,8: 1,9: 0,}
Clean_fuel_original2final ={1: 'No',2: 'No',3: 'Yes',4: 'Yes',5: 'No',6: 'No',7: 'Yes',8: 'No',}
Dwelling_toilet_1_original2final ={1: 1,2: 1,3: 1,5: 1,7: 1,8: 1,9: 1,10: 1,4: 0,6: 0,11: 0,12: 0,}
Dwelling_toilet_2_original2final ={2: 1,3: 1,4: 1,1: 0,5: 0,6: 0,7: 0,}
Dwelling_toilet_3_original2final ={2: 1,3: 1,4: 1,1: 0,5: 0,6: 0,7: 0,}
Dwelling_toilet_4_original2final ={1: 1,2: 1,3: 1,5: 1,7: 1,8: 1,9: 1,10: 1,4: 0,6: 0,11: 0,12: 0,}
Dwelling_toilet_5_original2final ={2: 1,3: 1,4: 1,1: 0,5: 0,6: 0,7: 0,}
Dwelling_toilet_6_original2final ={2: 1,3: 1,4: 1,1: 0,5: 0,6: 0,7: 0,}

In [ ]:
Education_level_HHH = {1: 'No schooling', 11: 'Primary education', 12: 'Primary education', 13: 'Primary education',
                       14: 'Primary education', 15: 'Primary education', 16: 'Primary education',
                       17: 'Primary education', 18: 'Primary education', 19: 'Primary education',
                       21: 'Upper secondary education', 22: 'Upper secondary education',
                       23: 'Upper secondary education', 24: 'Upper secondary education',
                       25: 'Upper secondary education', 31: 'Post-secondary non-tertiary education',
                       32: 'Post-secondary non-tertiary education', 33: 'Post-secondary non-tertiary education',
                       34: 'Post-secondary non-tertiary education', 41: 'Bachelor\'s or equivalent level',
                       42: 'Bachelor\'s or equivalent level', 43: 'Bachelor\'s or equivalent level',
                       44: 'Master\'s or equivalent level', 45: 'Doctoral or equivalent level',
                       2: 'Not elsewhere classified', }
Socio_status_HHH = {1: 'Employee', 2: 'Employer', 3: 'Own-account worker non-farm', 4: 'Contributing family worker',
                    5: 'Contributing family worker', 6: 'Own-account worker farm', }
Connection_type = {1: 'National grid', 2: 'Local mini-grid', 3: 'Solar Home System', }
Dwelling_quality_wall = {1: 0, 2: 0, 3: 0, 4: 0, 5: 1, 6: 1, 7: 0, }
Dwelling_quality_roof = {1: 0, 2: 0, 3: 1, 4: 0, 5: 0, 6: 0, 7: 0, }
Dwelling_quality_floor = {1: 0, 2: 1, 3: 0, }
Dwelling_quality_toilet = {1: 0, 2: 0, 3: 0, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 0, }