# Generate Categories

In [1]:
import pandas as pd
import pathlib

In [2]:
DB_ROOT = "../playground/data/LSMS/Tanzania"
root = pathlib.Path(DB_ROOT)
sheet_name = "Categories"
master_file = root.joinpath("_master.xlsx")

df = pd.read_excel(master_file, sheet_name=sheet_name)
df.head()

,Derived_variables_cat,Final_cat,Original_cat,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Urban/rural,Urban,2,NaN,NaN,NaN,NaN
1,Urban/rural,Rural,1,NaN,NaN,NaN,NaN
2,Male/female_HHH,Male,1,NaN,NaN,NaN,NaN
3,Male/female_HHH,Female,2,NaN,NaN,NaN,NaN
4,Marital_status_HHH,Ongoing,1,NaN,NaN,NaN,NaN

In [3]:
cat_name_col = "Derived_variables_cat"
final_cat_col = "Final_cat"
original_cat_col = "Original_cat"
df = df[[cat_name_col, final_cat_col, original_cat_col]]
df.head()

  Derived_variables_cat Final_cat Original_cat
0           Urban/rural     Urban            2
1           Urban/rural     Rural            1
2       Male/female_HHH      Male            1
3       Male/female_HHH    Female            2
4    Marital_status_HHH   Ongoing            1

In [4]:
categories = {"Region_raw": "Region_original2final",
              "District_raw": "District_original2final"
              }

In [5]:
output = ""

for key, value in categories.items():

    dict_value = ""

    for index, row in df[df[cat_name_col] == key].iterrows():
        original = row[original_cat_col]
        if type(original) == str:
            original = original.replace("'", "\\'")
            original = f"'{original}'"

        final = row[final_cat_col]
        if type(final) == str:
            final = final.replace("'", "\\'")
            final = f"'{final}'"

        dict_value += f"{original}: {final},"

    output += f"{value} =" + "{" + dict_value + "}" + "\n"

print(output)

Region_original2final ={1: 'Dodoma',2: 'Arusha',3: 'Kilimanjaro',4: 'Tanga',5: 'Morogoro',6: 'Pwani',7: 'Dar es salaam',8: 'Lindi',9: 'Mtwara',10: 'Ruvuma',11: 'Iringa',12: 'Mbeya',13: 'Singida',14: 'Tabora',15: 'Rukwa',16: 'Kigoma',17: 'Shinyanga',18: 'Kagera',19: 'Mwanza',20: 'Mara',21: 'Manyara',22: 'Njombe',23: 'Katavi',24: 'Simiyu',25: 'Geita',26: 'Mbeya',51: 'Zanzibar North',52: 'Zanzibar South',53: 'Zanzibar West',54: 'Pemba North',55: 'Pemba South',}
District_original2final ={11: 'Kondoa',12: 'Mpwapwa',13: 'Kongwa',15: 'Dodoma Urban',17: 'Chemba',21: 'Monduli',22: 'Meru',23: 'Arusha Urban',24: 'Karatu',31: 'Rombo',32: 'MWANGA',36: 'MOSHI URBAN',41: 'LUSHOTO',42: 'KOROGWE RURAL',43: 'MUHEZA',44: 'TANGA URBAN',46: 'HANDENI',47: 'KILINDI',49: 'KOROGWE URBAN',51: 'KILOSA',52: 'MOROGORO RURAL',53: 'KILOMBERO',55: 'MOROGORO URBAN',56: 'MVOMERO',57: 'GAIRO',61: 'BAGAMOYO',62: 'KIBAHA RURAL',63: 'KISARAWE',64: 'MKURANGA',65: 'RUFIJI',67: 'KIBAHA URBAN',71: 'KINONDONI',72: 'ILALA',73: 'TEMEKE',81: 'KILWA',82: 'LINDI RURAL',83: 'NACHINGWEA',85: 'RUANGWA',86: 'LINDI URBAN',91: 'MTWARA RURAL',92: 'NEWALA',93: 'MASASI RURAL',94: 'TANDAHIMBA',95: 'MTWARA MIKINDANI',96: 'NANYUMBU',97: 'MASASI URBAN',102: 'SONGEA RURAL',103: 'MBINGA',104: 'SONGEA URBAN',106: 'NYASA',112: 'MUFINDI',113: 'IRINGA URBAN',115: 'MAFINGA',121: 'CHUNYA',122: 'MBEYA RURAL',127: 'MBALALI',128: 'MBEYA URBAN',129: 'MOMBA',131: 'IRAMBA',132: 'SINGIDA RURAL',134: 'SINGIDA URBAN',141: 'NZEGA',142: 'IGUNGA',143: 'UYUI',144: 'URAMBA',145: 'SIKONGE',146: 'TABORA URBAN',147: 'KALIUA',151: 'KALAMBO',152: 'SUMBAWANGA RURAL',153: 'NKASI',154: 'SUMBAWANGA URBAN',161: 'KIBONDO',162: 'KASULU RURAL',164: 'KIGOMA URBAN',166: 'BUHIGWE',173: 'SHINYANGA URBAN',174: 'KAHAMA RURAL',175: 'KAHAMA URBAN',181: 'KARAGWE',182: 'BUKOBA RURAL',183: 'MULEBA',184: 'BIHARAMULO',185: 'NGARA',186: 'BUKOBA URBAN',187: 'MISSENYI',188: 'KYERWA',192: 'MAGU',193: 'NYAMAGANA',194: 'KWIMBA',195: 'SENGEREMA',196: 'ILEMELA',197: 'MISUNGWI',201: 'TARIME',203: 'MUSOMA RURAL',205: 'MUSOMA URBAN',207: 'BUTIAMA',211: 'BABATI RURAL',214: 'SIMANJIRO',223: 'MAKETE',231: 'MPANDA URBAN',242: 'ITILIMA',244: 'MASWA',251: 'GEITA',252: 'NYANG\'HWALE',253: 'MBOGWE',254: 'BUKOMBE',255: 'CHATO',511: 'KASKAZINI ‘A’',512: 'KASKAZINI ‘B’',521: 'KATI',522: 'KUSINI',531: 'MAGHARIBI',532: 'MJINI',541: 'WETE',542: 'MICHWEWENI',552: 'MKOANI',}

In [ ]:
Education_level_HHH = {1: 'No schooling', 11: 'Primary education', 12: 'Primary education', 13: 'Primary education',
                       14: 'Primary education', 15: 'Primary education', 16: 'Primary education',
                       17: 'Primary education', 18: 'Primary education', 19: 'Primary education',
                       21: 'Upper secondary education', 22: 'Upper secondary education',
                       23: 'Upper secondary education', 24: 'Upper secondary education',
                       25: 'Upper secondary education', 31: 'Post-secondary non-tertiary education',
                       32: 'Post-secondary non-tertiary education', 33: 'Post-secondary non-tertiary education',
                       34: 'Post-secondary non-tertiary education', 41: 'Bachelor\'s or equivalent level',
                       42: 'Bachelor\'s or equivalent level', 43: 'Bachelor\'s or equivalent level',
                       44: 'Master\'s or equivalent level', 45: 'Doctoral or equivalent level',
                       2: 'Not elsewhere classified', }
Socio_status_HHH = {1: 'Employee', 2: 'Employer', 3: 'Own-account worker non-farm', 4: 'Contributing family worker',
                    5: 'Contributing family worker', 6: 'Own-account worker farm', }
Connection_type = {1: 'National grid', 2: 'Local mini-grid', 3: 'Solar Home System', }
Dwelling_quality_wall = {1: 0, 2: 0, 3: 0, 4: 0, 5: 1, 6: 1, 7: 0, }
Dwelling_quality_roof = {1: 0, 2: 0, 3: 1, 4: 0, 5: 0, 6: 0, 7: 0, }
Dwelling_quality_floor = {1: 0, 2: 1, 3: 0, }
Dwelling_quality_toilet = {1: 0, 2: 0, 3: 0, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 0, }