# Generate Categories

In [4]:
import pandas as pd
import pathlib

from datasets.ESMAP.Kenya import gadm_level_1_df

ModuleNotFoundError: No module named 'datasets.ESMAP.Kenya'

In [2]:
DB_ROOT = "../playground/data/LSMS/Tanzania"
root = pathlib.Path(DB_ROOT)
sheet_name = "Categories"
master_file = root.joinpath("_master.xlsx")

df = pd.read_excel(master_file, sheet_name=sheet_name)
df.head()

,Derived_variables_cat,Final_cat,Original_cat,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Urban/rural,Urban,2,NaN,NaN,NaN,NaN
1,Urban/rural,Rural,1,NaN,NaN,NaN,NaN
2,Male/female_HHH,Male,1,NaN,NaN,NaN,NaN
3,Male/female_HHH,Female,2,NaN,NaN,NaN,NaN
4,Marital_status_HHH,Ongoing,1,NaN,NaN,NaN,NaN

In [3]:
cat_name_col = "Derived_variables_cat"
final_cat_col = "Final_cat"
original_cat_col = "Original_cat"
df = df[[cat_name_col, final_cat_col, original_cat_col]]
df.head()

  Derived_variables_cat Final_cat Original_cat
0           Urban/rural     Urban            2
1           Urban/rural     Rural            1
2       Male/female_HHH      Male            1
3       Male/female_HHH    Female            2
4    Marital_status_HHH   Ongoing            1

In [4]:
categories = {"Region_raw": "Region_original2final",
              "District_raw": "District_original2final"
              }

In [5]:
output = ""

for key, value in categories.items():

    dict_value = ""

    for index, row in df[df[cat_name_col] == key].iterrows():
        original = row[original_cat_col]
        if type(original) == str:
            original = original.replace("'", "\\'")
            original = f"'{original}'"

        final = row[final_cat_col]
        if type(final) == str:
            final = final.replace("'", "\\'")
            final = f"'{final}'"

        dict_value += f"{original}: {final},"

    output += f"{value} =" + "{" + dict_value + "}" + "\n"

print(output)

Region_original2final ={1: 'Dodoma',2: 'Arusha',3: 'Kilimanjaro',4: 'Tanga',5: 'Morogoro',6: 'Pwani',7: 'Dar es salaam',8: 'Lindi',9: 'Mtwara',10: 'Ruvuma',11: 'Iringa',12: 'Mbeya',13: 'Singida',14: 'Tabora',15: 'Rukwa',16: 'Kigoma',17: 'Shinyanga',18: 'Kagera',19: 'Mwanza',20: 'Mara',21: 'Manyara',22: 'Njombe',23: 'Katavi',24: 'Simiyu',25: 'Geita',26: 'Mbeya',51: 'Zanzibar North',52: 'Zanzibar South',53: 'Zanzibar West',54: 'Pemba North',55: 'Pemba South',}
District_original2final ={11: 'Kondoa',12: 'Mpwapwa',13: 'Kongwa',15: 'Dodoma Urban',17: 'Chemba',21: 'Monduli',22: 'Meru',23: 'Arusha Urban',24: 'Karatu',31: 'Rombo',32: 'MWANGA',36: 'MOSHI URBAN',41: 'LUSHOTO',42: 'KOROGWE RURAL',43: 'MUHEZA',44: 'TANGA URBAN',46: 'HANDENI',47: 'KILINDI',49: 'KOROGWE URBAN',51: 'KILOSA',52: 'MOROGORO RURAL',53: 'KILOMBERO',55: 'MOROGORO URBAN',56: 'MVOMERO',57: 'GAIRO',61: 'BAGAMOYO',62: 'KIBAHA RURAL',63: 'KISARAWE',64: 'MKURANGA',65: 'RUFIJI',67: 'KIBAHA URBAN',71: 'KINONDONI',72: 'ILALA',73: 'TEMEKE',81: 'KILWA',82: 'LINDI RURAL',83: 'NACHINGWEA',85: 'RUANGWA',86: 'LINDI URBAN',91: 'MTWARA RURAL',92: 'NEWALA',93: 'MASASI RURAL',94: 'TANDAHIMBA',95: 'MTWARA MIKINDANI',96: 'NANYUMBU',97: 'MASASI URBAN',102: 'SONGEA RURAL',103: 'MBINGA',104: 'SONGEA URBAN',106: 'NYASA',112: 'MUFINDI',113: 'IRINGA URBAN',115: 'MAFINGA',121: 'CHUNYA',122: 'MBEYA RURAL',127: 'MBALALI',128: 'MBEYA URBAN',129: 'MOMBA',131: 'IRAMBA',132: 'SINGIDA RURAL',134: 'SINGIDA URBAN',141: 'NZEGA',142: 'IGUNGA',143: 'UYUI',144: 'URAMBA',145: 'SIKONGE',146: 'TABORA URBAN',147: 'KALIUA',151: 'KALAMBO',152: 'SUMBAWANGA RURAL',153: 'NKASI',154: 'SUMBAWANGA URBAN',161: 'KIBONDO',162: 'KASULU RURAL',164: 'KIGOMA URBAN',166: 'BUHIGWE',173: 'SHINYANGA URBAN',174: 'KAHAMA RURAL',175: 'KAHAMA URBAN',181: 'KARAGWE',182: 'BUKOBA RURAL',183: 'MULEBA',184: 'BIHARAMULO',185: 'NGARA',186: 'BUKOBA URBAN',187: 'MISSENYI',188: 'KYERWA',192: 'MAGU',193: 'NYAMAGANA',194: 'KWIMBA',195: 'SENGEREMA',196: 'ILEMELA',197: 'MISUNGWI',201: 'TARIME',203: 'MUSOMA RURAL',205: 'MUSOMA URBAN',207: 'BUTIAMA',211: 'BABATI RURAL',214: 'SIMANJIRO',223: 'MAKETE',231: 'MPANDA URBAN',242: 'ITILIMA',244: 'MASWA',251: 'GEITA',252: 'NYANG\'HWALE',253: 'MBOGWE',254: 'BUKOMBE',255: 'CHATO',511: 'KASKAZINI ‘A’',512: 'KASKAZINI ‘B’',521: 'KATI',522: 'KUSINI',531: 'MAGHARIBI',532: 'MJINI',541: 'WETE',542: 'MICHWEWENI',552: 'MKOANI',}

In [ ]:
Education_level_HHH = {1: 'No schooling', 11: 'Primary education', 12: 'Primary education', 13: 'Primary education',
                       14: 'Primary education', 15: 'Primary education', 16: 'Primary education',
                       17: 'Primary education', 18: 'Primary education', 19: 'Primary education',
                       21: 'Upper secondary education', 22: 'Upper secondary education',
                       23: 'Upper secondary education', 24: 'Upper secondary education',
                       25: 'Upper secondary education', 31: 'Post-secondary non-tertiary education',
                       32: 'Post-secondary non-tertiary education', 33: 'Post-secondary non-tertiary education',
                       34: 'Post-secondary non-tertiary education', 41: 'Bachelor\'s or equivalent level',
                       42: 'Bachelor\'s or equivalent level', 43: 'Bachelor\'s or equivalent level',
                       44: 'Master\'s or equivalent level', 45: 'Doctoral or equivalent level',
                       2: 'Not elsewhere classified', }
Socio_status_HHH = {1: 'Employee', 2: 'Employer', 3: 'Own-account worker non-farm', 4: 'Contributing family worker',
                    5: 'Contributing family worker', 6: 'Own-account worker farm', }
Connection_type = {1: 'National grid', 2: 'Local mini-grid', 3: 'Solar Home System', }
Dwelling_quality_wall = {1: 0, 2: 0, 3: 0, 4: 0, 5: 1, 6: 1, 7: 0, }
Dwelling_quality_roof = {1: 0, 2: 0, 3: 1, 4: 0, 5: 0, 6: 0, 7: 0, }
Dwelling_quality_floor = {1: 0, 2: 1, 3: 0, }
Dwelling_quality_toilet = {1: 0, 2: 0, 3: 0, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 0, }

## Load GADM level data

In [155]:
import geopandas as gpd

gdf = gpd.read_file("../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_0.shp")

gdf.to_csv("../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_0.csv", index=False)

In [156]:

gdf = gpd.read_file("../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_1.shp")
gdf.to_csv("../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_1.csv", index=False)

In [157]:

gdf = gpd.read_file("../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_2.shp")
gdf.to_csv("../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_2.csv", index=False)

In [158]:

gdf = gpd.read_file("../playground/data/ESMAP/Ethiopia_L/gadm41_ETH_shp/gadm41_ETH_3.shp")
gdf.to_csv("../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_3.csv", index=False)

In [14]:
import pandas as pd

In [159]:
gadm_level_1_df = pd.read_csv("../playground/data/ESMAP/Ethiopia_L/csv_data/GADM_level_1.csv")

gadm_level_1_df.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry
0,ETH.1_1,ETH,Ethiopia,Addis Abeba,Āddīs Ābaba|Addis Ababa|Adis-Abe,NaN,Astedader,City,14,ET.AA,NaN,"POLYGON ((38.87944793700012 8.918313981000097,..."
1,ETH.2_1,ETH,Ethiopia,Afar,NaN,NaN,Kilil,State,2,ET.AF,ET-AF,"POLYGON ((40.15224838200015 8.931959153000037,..."
2,ETH.3_1,ETH,Ethiopia,Amhara,Amara,NaN,Kilil,State,3,ET.AM,NaN,"POLYGON ((39.74115753100011 9.023024560000124,..."
3,ETH.4_1,ETH,Ethiopia,Benshangul-Gumaz,Beneshangul Gumu,NaN,Kilil,State,6,ET.BE,NaN,"POLYGON ((34.86679458700007 9.902260781000166,..."
4,ETH.5_1,ETH,Ethiopia,Dire Dawa,NaN,NaN,Astedader,City,15,ET.DD,ET-DD,"POLYGON ((41.93584823500015 9.663463593000074,..."

In [31]:
df = pd.read_csv("../playground/data/ESMAP/Liberia_L/csv_data/MTF_HH_Main.csv", low_memory=False)

cols = df.columns
[i for i in cols if 'lat'.lower() in i.lower()]

[]

In [66]:
df = df[['County', 'District', 'EA']]

In [67]:
df

      County  District     EA
0        8.0      40.0   36.0
1       10.0      47.0  249.0
2       10.0      47.0  250.0
3       13.0      59.0  100.0
4        3.0      19.0  219.0
...      ...       ...    ...
3898    10.0      48.0  257.0
3899    12.0      71.0  237.0
3900     8.0      40.0   59.0
3901    10.0      47.0  251.0
3902     NaN       NaN    NaN

[3903 rows x 3 columns]

In [68]:
counties = df['County'].unique()
counties

array([ 8., 10., 13.,  3., 11., 16., 15.,  5., 12.,  2.,  4.,  6.,  7.,
        9.,  1., 14., nan])

In [69]:
sorted(counties)

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 nan]

In [82]:
county_grouped = df.groupby('County').agg(lambda x: list(x)).reset_index()
county_grouped['EA_len'] = county_grouped.apply(lambda row: len(row['EA']), axis=1)
county_grouped.head()

,County,District,EA,EA_len
0,1.0,"[1.0, 3.0, 2.0, 3.0, 1.0, 3.0, 3.0, 2.0, 2.0, ...","[247.0, 240.0, 243.0, 239.0, 246.0, 239.0, 240...",133
1,2.0,"[12.0, 10.0, 14.0, 5.0, 14.0, 12.0, 7.0, 6.0, ...","[280.0, 88.0, 86.0, 95.0, 292.0, 288.0, 283.0,...",409
2,3.0,"[19.0, 18.0, 18.0, 19.0, 17.0, 18.0, 17.0, 17....","[219.0, 223.0, 224.0, 219.0, 220.0, 223.0, 220...",96
3,4.0,"[26.0, 25.0, 23.0, 25.0, 24.0, 25.0, 22.0, 22....","[159.0, 158.0, 169.0, 170.0, 154.0, 164.0, 155...",253
4,5.0,"[29.0, 31.0, 31.0, 31.0, 31.0, 28.0, 31.0, 29....","[276.0, 270.0, 271.0, 273.0, 274.0, 275.0, 270...",166

In [40]:
districts = df['District'].unique()
sorted(districts)

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 nan]

In [41]:
eas = df['EA'].unique()
sorted(eas)

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 nan]

In [47]:
gadm_level_1_df['NAME_1'].unique()

GID_0                                                      LBR
NAME_0                                                 Liberia
GID_1                                                  LBR.1_1
NAME_1                                                    Bomi
NL_NAME_1                                                  NaN
GID_2                                                LBR.1.1_1
NAME_2                                                    Klay
NL_NAME_2                                                  NaN
GID_3                                              LBR.1.1.1_1
NAME_3                                                 Blugban
VARNAME_3                                                  NaN
NL_NAME_3                                                  NaN
TYPE_3                                                    Clan
ENGTYPE_3                                                 Clan
CC_3                                                       NaN
HASC_3                                                     NaN
geometry     POLYGON ((-10.90562343597406 6.582343101501465...
Name: 0, dtype: object

In [65]:
gadm_level_1_df = pd.read_csv("../playground/data/ESMAP/Liberia_L/csv_data/GADM_level_1.csv")

gadm_level_1_df.head(1222)

,GID_0,NAME_0,GID_1,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,geometry
0,LBR,Liberia,LBR.1_1,Bomi,NaN,NaN,County,County,3,LR.BM,"POLYGON ((-10.80409908 6.46788979, -10.7969970..."
1,LBR,Liberia,LBR.2_1,Bong,NaN,NaN,County,County,6,LR.BG,"POLYGON ((-9.981668470000001 6.70849419, -10.0..."
2,LBR,Liberia,LBR.3_1,Gbapolu,Gbarpolu,NaN,County,County,45,LR.GP,"POLYGON ((-10.08795071 7.07086897, -10.1048030..."
3,LBR,Liberia,LBR.4_1,Grand Cape Mount,NaN,NaN,County,County,12,LR.CM,"POLYGON ((-11.15291595 6.61874104, -11.1534719..."
4,LBR,Liberia,LBR.5_1,GrandBassa,Grand Bassa,NaN,County,County,9,LR.GB,"POLYGON ((-9.73013115 5.59039688, -9.7304163 5..."
5,LBR,Liberia,LBR.6_1,GrandGedeh,Grand Gedeh,NaN,County,County,15,LR.GD,"POLYGON ((-7.64448977 5.53848314, -7.67814589 ..."
6,LBR,Liberia,LBR.7_1,GrandKru,Grand Kru,NaN,County,County,18,LR.GK,"POLYGON ((-7.77493811 4.59313011, -7.77054882 ..."
7,LBR,Liberia,LBR.8_1,Lofa,NaN,NaN,County,County,21,LR.LF,"POLYGON ((-9.654317860000001 7.23262405, -9.67..."
8,LBR,Liberia,LBR.9_1,Margibi,NaN,NaN,County,County,24,LR.MG,"POLYGON ((-10.34531307 6.16485596, -10.3466415..."
9,LBR,Liberia,LBR.10_1,Maryland,NaN,NaN,County,County,27,LR.MY,"POLYGON ((-7.72125101 4.38402796, -7.72125101 ..."
10,LBR,Liberia,LBR.11_1,Montserrado,NaN,NaN,County,County,30,LR.MO,"MULTIPOLYGON (((-10.81263924 6.34902811, -10.8..."
11,LBR,Liberia,LBR.12_1,Nimba,NaN,NaN,County,County,33,LR.NI,"POLYGON ((-9.083374020000001 5.82017088, -9.08..."
12,LBR,Liberia,LBR.13_1,River Cess,Rivercess,NaN,County,County,36,LR.RI,"POLYGON ((-9.492916109999999 5.37180614, -9.49..."
13,LBR,Liberia,LBR.14_1,River Gee,NaN,NaN,County,County,42,LR.RG,"POLYGON ((-7.54345608 5.0869112, -7.54480505 5..."
14,LBR,Liberia,LBR.15_1,Sinoe,NaN,NaN,County,County,39,LR.SI,"POLYGON ((-8.67117023 4.79847288, -8.67124939 ..."

In [60]:
for i in counties:
    try:
        idx = int(i)
        c = gadm_level_1_df[gadm_level_1_df['CC_1'] == idx]
        print(c)
    except:
        print("Not found")

Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
  GID_0   NAME_0    GID_1 NAME_1 VARNAME_1  NL_NAME_1  TYPE_1 ENGTYPE_1  CC_1  \
0   LBR  Liberia  LBR.1_1   Bomi       NaN        NaN  County    County     3

  HASC_1                                           geometry
0  LR.BM  POLYGON ((-10.80409908 6.46788979, -10.7969970...
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
  GID_0   NAME_0    GID_1      NAME_1    VARNAME_1  NL_NAME_1  TYPE_1  \
5   LBR  Liberia  LBR.6_1  GrandGedeh  Grand Gedeh        NaN  County

  ENGTYPE_1  CC_1 HASC_1                                           geometry
5    County    15  LR.GD  POLYGON ((-7.64448977 5.53848314, -7.67814589 ...
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
  GID_0   NAME_0    GID_1            NAME_1 VARNAME_1  NL_NAME_1  TYPE_1  \
3   LBR  Liberia  LBR.4_1  Grand Cape Mount       NaN        NaN  County

  ENGTYPE_1  CC_1 HASC_1                                           geometry
3    County    12  LR.CM  POLYGON ((-11.15291595 6.61874104, -11.1534719...
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
  GID_0   NAME_0    GID_1 NAME_1 VARNAME_1  NL_NAME_1  TYPE_1 ENGTYPE_1  CC_1  \
1   LBR  Liberia  LBR.2_1   Bong       NaN        NaN  County    County     6

  HASC_1                                           geometry
1  LR.BG  POLYGON ((-9.981668470000001 6.70849419, -10.0...
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
  GID_0   NAME_0    GID_1      NAME_1    VARNAME_1  NL_NAME_1  TYPE_1  \
4   LBR  Liberia  LBR.5_1  GrandBassa  Grand Bassa        NaN  County

  ENGTYPE_1  CC_1 HASC_1                                           geometry
4    County     9  LR.GB  POLYGON ((-9.73013115 5.59039688, -9.7304163 5...
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []
Not found

In [62]:
c = gadm_level_1_df[gadm_level_1_df['CC_1'] == 1]
c

Empty DataFrame
Columns: [GID_0, NAME_0, GID_1, NAME_1, VARNAME_1, NL_NAME_1, TYPE_1, ENGTYPE_1, CC_1, HASC_1, geometry]
Index: []

In [63]:
gadm_names = {}
for i, row in gadm_level_1_df.iterrows():
    if row['CC_1'] == 1:
        print(row['NAME_1'])
        break
    # gadm_names[i] = row['NAME_1']

gadm_names

{}

In [71]:
x = gadm_level_1_df['CC_1'].unique()
len(x)

15

In [75]:
gadm_level_2_df = pd.read_csv("../playground/data/ESMAP/Liberia_L/csv_data/GADM_level_2.csv")

gadm_level_2_df.head(1222)

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,NaN,District,District,2,NaN,"POLYGON ((-10.80409908 6.46788979, -10.7969970..."
1,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.2_1,Mecca,NaN,NaN,District,District,4,NaN,"POLYGON ((-10.58803177 6.68246078, -10.6133508..."
2,LBR,Liberia,LBR.2_1,Bong,NaN,LBR.2.1_1,Fuamah,NaN,NaN,District,District,2,NaN,"POLYGON ((-10.33262062 6.78766584, -10.3481464..."
3,LBR,Liberia,LBR.2_1,Bong,NaN,LBR.2.2_1,Jorquelleh,NaN,NaN,District,District,4,NaN,"POLYGON ((-9.332592959999999 6.70867109, -9.34..."
4,LBR,Liberia,LBR.2_1,Bong,NaN,LBR.2.3_1,Kokoyah,NaN,NaN,District,District,6,NaN,"POLYGON ((-9.657543179999999 6.45900106, -9.60..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.3_1,Greenville,NaN,NaN,District,District,6,NaN,"MULTIPOLYGON (((-8.975988389999999 4.96624899,..."
62,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.4_1,Jaedae Jaedepo,NaN,NaN,District,District,8,NaN,"POLYGON ((-8.499867439999999 4.95342493, -8.52..."
63,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.5_1,Juarzon,NaN,NaN,District,District,10,NaN,"POLYGON ((-9.01775265 5.14956713, -9.02550697 ..."
64,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.6_1,Kpayan,NaN,NaN,District,District,12,NaN,"POLYGON ((-8.92660618 4.95180607, -8.92708206 ..."
65,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.7_1,Pyneston,NaN,NaN,District,District,14,NaN,"POLYGON ((-8.79156017 5.23597383, -8.79219627 ..."

In [76]:
x = gadm_level_2_df['CC_2'].unique()
x

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [90]:
Counties = {
    1: 'Bomi',
    2: 'Bong',
    3: 'Gbapolu',
    4: 'GrandBassa',
    5: 'Grand Cape Mount',
    6: 'GrandGedeh',
    7: 'GrandKru',
    8: 'Lofa',
    9: 'Margibi',
    10: 'Maryland',
    11: 'Montserrado',
    12: 'Montserrado',
    13: 'Nimba',
    14: 'River Cess',
    15: 'River Gee',
    16: 'Sinoe'
}

In [91]:
Counties.values()

dict_values(['Bomi', 'Bong', 'Gbapolu', 'GrandBassa', 'Grand Cape Mount', 'GrandGedeh', 'GrandKru', 'Lofa', 'Margibi', 'Maryland', 'Montserrado', 'Montserrado', 'Nimba', 'River Cess', 'River Gee', 'Sinoe'])

In [92]:
for i, row in gadm_level_1_df.iterrows():
    if row['NAME_1'] in Counties.values():
        print(row['CC_1'], row['NAME_1'])
    else:
        print("Not found", row['NAME_1'])

3 Bomi
6 Bong
45 Gbapolu
12 Grand Cape Mount
9 GrandBassa
15 GrandGedeh
18 GrandKru
21 Lofa
24 Margibi
27 Maryland
30 Montserrado
33 Nimba
36 River Cess
42 River Gee
39 Sinoe

In [135]:
Districts = {0: 'Dewoin',
             1: 'Klay',
             2: 'Mecca',
             3: 'Senjeh',
             4: 'Fuamah',
             5: 'Jorquelleh',
             6: 'Kokoyah',
             7: 'Panta-Kpa',
             8: 'Salala',
             9: 'Sanayea',
             10: 'Suakoko',
             11: 'Zota',
             12: 'Belleh',
             13: 'Bopolu',
             14: 'Bokomu',
             15: 'Kongba',
             16: 'Gbarma',
             17: 'District # 1',
             18: 'District # 2',
             19: 'District # 3',
             20: 'District # 4',
             21: 'Owensgrove',
             22: 'Stjohnriver',
             23: 'Commnwealth',
             24: 'Garwula',
             25: 'Golakonneh',
             26: 'Porkpa',
             27: 'Tewor',
             28: 'Gbarzon',
             29: 'Konobo',
             30: 'Tchien',
             31: 'Buah',
             32: 'Lower Kru Coast',
             33: 'Sasstown 180606',
             34: 'Upperkrucoast',
             35: 'Foya',
             36: 'Kolahun',
             37: 'Salayea',
             38: 'Vahun',
             39: 'Voinjama',
             40: 'Quardu Gboni',
             41: 'Zorzor',
             42: 'Firestone',
             43: 'Gibi',
             44: 'Kakata',
             45: 'Mambah-Kaba',
             46: 'Barrobo',
             47: 'Pleebo/Sodeken',
             48: 'Careysburg',
             49: 'Greater Monrovia',
             50: 'St Paul River',
             51: 'Todee',
             52: 'Gbehlageh',
             53: 'Saclepea',
             54: 'Sanniquelleh-Mahn',
             55: 'Tappita',
             56: 'Yarwein-Mehnsohnne',
             57: 'Zoegeh',
             58: 'Gbeapo',
             59: 'Webbo',
             60: 'Morweh',
             61: 'Timbo',
             62: 'Butaw',
             63: 'Dugbe River',
             64: 'Greenville',
             65: 'Jaedae Jaedepo',
             66: 'Juarzon',
             67: 'Kpayan',
             68: 'Pyneston'}

In [109]:
gadm_level_3 = pd.read_csv("../playground/data/ESMAP/Liberia_L/csv_data/GADM_level_3.csv")
len(gadm_level_2_df)

66

In [137]:
gadm_level_3

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,NL_NAME_2,GID_3,NAME_3,VARNAME_3,NL_NAME_3,TYPE_3,ENGTYPE_3,CC_3,HASC_3,geometry
0,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,LBR.1.1.1_1,Blugban,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-10.90562343597406 6.582343101501465...
1,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,LBR.1.1.2_1,Dey-Gbo,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-10.80409908294678 6.467889785766658...
2,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,LBR.1.1.3_1,Gbarvon,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-10.82664394378662 6.537117958068961...
3,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,LBR.1.1.4_1,Gbojey,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-10.72550010681152 6.591005802154598...
4,LBR,Liberia,LBR.1_1,Bomi,NaN,LBR.1.1_1,Klay,NaN,LBR.1.1.5_1,Gbor,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-10.60058307647699 6.543235778808707...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.6_1,Kpayan,NaN,LBR.15.6.2_1,Petu,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-8.780371665954533 4.951119899749699...
301,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.6_1,Kpayan,NaN,LBR.15.6.3_1,"Tarweh, Dropo and Putu",NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-8.831241607665959 5.119396209716854...
302,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.6_1,Kpayan,NaN,LBR.15.6.4_1,Worteh,NaN,NaN,Clan,Clan,NaN,NaN,"POLYGON ((-8.926606178283635 4.95180606842041,..."
303,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.7_1,Pyneston,NaN,LBR.15.7.1_1,Karbadee,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-8.855567932128906 5.309689998626766...
304,LBR,Liberia,LBR.15_1,Sinoe,NaN,LBR.15.7_1,Pyneston,NaN,LBR.15.7.2_1,Wedjah,NaN,NaN,Clan,Clan,NaN,NaN,POLYGON ((-8.858633041381779 5.407412052154541...

In [140]:
names = gadm_level_3['NAME_3'].unique()
sorted(names)

['Arthington',
 'Bain',
 'Bartee',
 'Bassa point',
 'Belabokre',
 'Bellequelleh',
 'Benda/Borola',
 'Bensonville',
 'Bhai',
 'Bleenon',
 'Blugban',
 'Bluntsville',
 'Boe',
 'Boeglahn',
 'Bolloh',
 'Bondi',
 'Bondi-Mandingo',
 'Bonkomu',
 'Bonwein',
 'Boryermah',
 'Brewerville',
 'Brooksville',
 'Bubli',
 'Buchanan City',
 'Buluyeama',
 'Butaw',
 'Butulu',
 'Careyburg',
 'CentralJeadepo',
 'Chan',
 'Cheesemanburg',
 'Cholobo',
 'Clayashland',
 'Crozierville',
 "D'Ing",
 'Darblo',
 'David Toe',
 'Deingmah',
 'Dey-Gbo',
 'Dinning-Ta/Borlola',
 'Doe',
 'Doewein',
 'Doru',
 'Dorzohn',
 'Draoh',
 'Dugba Big Jaye',
 'Dugba Jaffa',
 'Dugba Robert Goe',
 'Duwraken',
 'DwehJaedpo',
 'Ediana',
 'Fahnbulleh',
 'Fahnsen',
 'Farh',
 'Farmersville',
 'Fenwehn',
 'Firestone',
 'Flenekpo',
 'Forpoh',
 'Gainda/Ganna',
 'Garaway/Nemia',
 'Garneo',
 'Garr',
 'Garyea',
 'Gbalakpo',
 'Gbannah',
 'Gbao',
 'Gbarbo',
 'Gbareehn',
 'Gbarjorkor',
 'Gbarlien',
 'Gbarlin',
 'Gbarlu',
 'Gbarma',
 'Gbarnshay',
 'Gbarvon',
 'Gbaybo',
 'Gbeapo',
 'Gbear',
 'Gbehlay',
 'Gbehyee',
 'Gbein',
 'Gbi',
 'Gbilibo',
 'Gblor',
 'Gboe',
 'Gbojey',
 'Gbor',
 'Gboraw/Rayawein',
 'Gborngbo',
 'Gborplay',
 'Gborwein',
 'Gbrbo/Niabo',
 'Gedebo',
 'Geetrah',
 'Gia',
 'Giah',
 'Giamusu/Larkay',
 'Gizzima',
 'Glio',
 'Goah',
 'Goe',
 'Gogowein',
 'Gorblah',
 'Gorblee',
 'Gorlorhun/Larkay',
 'Grand Cess',
 'Grand Cola',
 'Guma/Mende',
 'Gungbeyah',
 'Gwilapolu',
 'Harlandsville Township',
 'Harmonville',
 'Harris-Burg',
 'Hassala',
 'Hembeh',
 'Hoegbahn',
 'Hoegban',
 'Jawejeh',
 'Jloh',
 'Joewein Gbuizon',
 'Jorpoo',
 'Jorquelleh',
 'Juarzon',
 'Kaffia',
 'Karbadee',
 'Karblee',
 'Kaytuken/Killipo',
 'Kingsville',
 'Kitteabo/Glarro',
 'Kleebo',
 'Kokoyah',
 'Konoquelleh/Kinta',
 'Konowulala',
 'Konoyea',
 'Kpaiplay',
 'Kpartolor',
 'Kpatawee',
 'Kpay',
 'Kploh',
 'Kpo',
 'Kposo',
 'Kpowein',
 'Kpoyorquelleh',
 'Krazon',
 'Kulushawboe',
 'Laa',
 'Lao',
 'Lessonoh',
 'Lexington',
 'Little Cola',
 'Lobaizue',
 'Loncay',
 'Lorlah',
 'Louisana',
 'Louisina',
 'Lower Bokomu',
 'Lower Buah',
 'Lower Garwula',
 'Lower Kpaquelleh',
 'Lower Mecca',
 'Lower Tienpo',
 'Lower Two',
 'Lower Worker',
 'Lower Zor',
 'LowerBonkonJaedepo',
 'LowerJaedepo',
 'Lucasu',
 'Manlai',
 'Manna',
 'Marblee',
 'Markoi',
 'Mehn',
 'Mehwein',
 'Mein',
 'Menquelleh',
 'Millsburg',
 'Monrovia',
 'Morweh Doedian',
 'Mount Coffee',
 'Murrayville',
 'Myeinbedewein',
 'Nana Kru',
 'Neekree',
 'Neepu/Doe-Gbahn',
 'Neezoe',
 'Newcess',
 'Nua Point',
 'Numopoh',
 'Nyanforquelleh',
 'Nyanken',
 'Nyanniwein',
 'Nyanpo/Kwiata',
 'Nyen',
 'Paasawee',
 'Palama',
 'Panta',
 'Perluken',
 'Petay',
 'Peter Harris',
 'Petu',
 'Picinicess',
 'Plahnnyarn',
 'Pleemu',
 'Ploe',
 'Quella',
 'Quetroyah',
 'Rankollie',
 'Robertsport',
 'Sallay',
 'Sambola',
 'Sanoyea',
 'Sarbo/Palrpo',
 'Sasstown',
 'Saywhien',
 'Seedor',
 'Seekon',
 'Seeyah',
 'Sehyi',
 'Seimavolah',
 'Senjeh',
 'Senwein',
 'Settra Kru',
 'Sheansuie',
 'Sokpa',
 'Sonniwein',
 'Srolay',
 'Suakoko',
 'Tahamba',
 'Tarsue',
 'Tarweh, Dropo and Putu',
 'Tawalata',
 'Tchien Menson Gorbo',
 'Tchien Menyan Kanna',
 'Tehr',
 'Tengia',
 'Tiabo',
 'Tienpo',
 'Togbeyah',
 'Trade Town',
 'Tubbo',
 'Tubmanvilletship',
 'Tugbaville',
 'Tukpablee',
 'Tuobo',
 'Twabo',
 'Twansiebo',
 'Upper Bokomu',
 'Upper Buah',
 'Upper Garwula',
 'Upper Kpaquelleh',
 'Upper Mecca',
 'Upper Tienpo',
 'Upper Worker',
 'Upper Zor',
 'UpperBonkonJaedepo',
 'UpperJaedpo',
 'Vambo',
 'Vavala',
 'Virginia',
 'Wallahun',
 'Waum',
 'Wawoma',
 'Waytua',
 'Weamaquelleh/Larkay',
 'Webbo',
 'Wedjah',
 'Wee',
 'Whengbakon',
 'Whenzohn',
 'White Plains',
 'Whrogbah',
 'Wiah/Cinta',
 'Wolota',
 'Worteh',
 'Wrunah',
 'Wulu-Kola',
 'Wy-Wonnegomia',
 'Yangayah',
 'Yannah/Owensgrove',
 'Yaolay',
 'Yarbayon',
 'Yarmein',
 'Yarwein-Mehnsonneh',
 'Yederobo',
 'Yourpea',
 'Zahn',
 'Zarwakuma',
 'Zeansue',
 'Zeewein',
 'Zehnla',
 'Ziama',
 'Zoe',
 'Zoeduah',
 'Zolokengban',
 'Zor',
 'Zota',
 'Zuie',
 'Zuluzaryea']

In [141]:
areas = ['Arthington',
         'Bain',
         'Bartee',
         'Bassa point',
         'Belabokre',
         'Bellequelleh',
         'Benda/Borola',
         'Bensonville',
         'Bhai',
         'Bleenon',
         'Blugban',
         'Bluntsville',
         'Boe',
         'Boeglahn',
         'Bolloh',
         'Bondi',
         'Bondi-Mandingo',
         'Bonkomu',
         'Bonwein',
         'Boryermah',
         'Brewerville',
         'Brooksville',
         'Bubli',
         'Buchanan City',
         'Buluyeama',
         'Butaw',
         'Butulu',
         'Careyburg',
         'CentralJeadepo',
         'Chan',
         'Cheesemanburg',
         'Cholobo',
         'Clayashland',
         'Crozierville',
         "D'Ing",
         'Darblo',
         'David Toe',
         'Deingmah',
         'Dey-Gbo',
         'Dinning-Ta/Borlola',
         'Doe',
         'Doewein',
         'Doru',
         'Dorzohn',
         'Draoh',
         'Dugba Big Jaye',
         'Dugba Jaffa',
         'Dugba Robert Goe',
         'Duwraken',
         'DwehJaedpo',
         'Ediana',
         'Fahnbulleh',
         'Fahnsen',
         'Farh',
         'Farmersville',
         'Fenwehn',
         'Firestone',
         'Flenekpo',
         'Forpoh',
         'Gainda/Ganna',
         'Garaway/Nemia',
         'Garneo',
         'Garr',
         'Garyea',
         'Gbalakpo',
         'Gbannah',
         'Gbao',
         'Gbarbo',
         'Gbareehn',
         'Gbarjorkor',
         'Gbarlien',
         'Gbarlin',
         'Gbarlu',
         'Gbarma',
         'Gbarnshay',
         'Gbarvon',
         'Gbaybo',
         'Gbeapo',
         'Gbear',
         'Gbehlay',
         'Gbehyee',
         'Gbein',
         'Gbi',
         'Gbilibo',
         'Gblor',
         'Gboe',
         'Gbojey',
         'Gbor',
         'Gboraw/Rayawein',
         'Gborngbo',
         'Gborplay',
         'Gborwein',
         'Gbrbo/Niabo',
         'Gedebo',
         'Geetrah',
         'Gia',
         'Giah',
         'Giamusu/Larkay',
         'Gizzima',
         'Glio',
         'Goah',
         'Goe',
         'Gogowein',
         'Gorblah',
         'Gorblee',
         'Gorlorhun/Larkay',
         'Grand Cess',
         'Grand Cola',
         'Guma/Mende',
         'Gungbeyah',
         'Gwilapolu',
         'Harlandsville Township',
         'Harmonville',
         'Harris-Burg',
         'Hassala',
         'Hembeh',
         'Hoegbahn',
         'Hoegban',
         'Jawejeh',
         'Jloh',
         'Joewein Gbuizon',
         'Jorpoo',
         'Jorquelleh',
         'Juarzon',
         'Kaffia',
         'Karbadee',
         'Karblee',
         'Kaytuken/Killipo',
         'Kingsville',
         'Kitteabo/Glarro',
         'Kleebo',
         'Kokoyah',
         'Konoquelleh/Kinta',
         'Konowulala',
         'Konoyea',
         'Kpaiplay',
         'Kpartolor',
         'Kpatawee',
         'Kpay',
         'Kploh',
         'Kpo',
         'Kposo',
         'Kpowein',
         'Kpoyorquelleh',
         'Krazon',
         'Kulushawboe',
         'Laa',
         'Lao',
         'Lessonoh',
         'Lexington',
         'Little Cola',
         'Lobaizue',
         'Loncay',
         'Lorlah',
         'Louisana',
         'Louisina',
         'Lower Bokomu',
         'Lower Buah',
         'Lower Garwula',
         'Lower Kpaquelleh',
         'Lower Mecca',
         'Lower Tienpo',
         'Lower Two',
         'Lower Worker',
         'Lower Zor',
         'LowerBonkonJaedepo',
         'LowerJaedepo',
         'Lucasu',
         'Manlai',
         'Manna',
         'Marblee',
         'Markoi',
         'Mehn',
         'Mehwein',
         'Mein',
         'Menquelleh',
         'Millsburg',
         'Monrovia',
         'Morweh Doedian',
         'Mount Coffee',
         'Murrayville',
         'Myeinbedewein',
         'Nana Kru',
         'Neekree',
         'Neepu/Doe-Gbahn',
         'Neezoe',
         'Newcess',
         'Nua Point',
         'Numopoh',
         'Nyanforquelleh',
         'Nyanken',
         'Nyanniwein',
         'Nyanpo/Kwiata',
         'Nyen',
         'Paasawee',
         'Palama',
         'Panta',
         'Perluken',
         'Petay',
         'Peter Harris',
         'Petu',
         'Picinicess',
         'Plahnnyarn',
         'Pleemu',
         'Ploe',
         'Quella',
         'Quetroyah',
         'Rankollie',
         'Robertsport',
         'Sallay',
         'Sambola',
         'Sanoyea',
         'Sarbo/Palrpo',
         'Sasstown',
         'Saywhien',
         'Seedor',
         'Seekon',
         'Seeyah',
         'Sehyi',
         'Seimavolah',
         'Senjeh',
         'Senwein',
         'Settra Kru',
         'Sheansuie',
         'Sokpa',
         'Sonniwein',
         'Srolay',
         'Suakoko',
         'Tahamba',
         'Tarsue',
         'Tarweh, Dropo and Putu',
         'Tawalata',
         'Tchien Menson Gorbo',
         'Tchien Menyan Kanna',
         'Tehr',
         'Tengia',
         'Tiabo',
         'Tienpo',
         'Togbeyah',
         'Trade Town',
         'Tubbo',
         'Tubmanvilletship',
         'Tugbaville',
         'Tukpablee',
         'Tuobo',
         'Twabo',
         'Twansiebo',
         'Upper Bokomu',
         'Upper Buah',
         'Upper Garwula',
         'Upper Kpaquelleh',
         'Upper Mecca',
         'Upper Tienpo',
         'Upper Worker',
         'Upper Zor',
         'UpperBonkonJaedepo',
         'UpperJaedpo',
         'Vambo',
         'Vavala',
         'Virginia',
         'Wallahun',
         'Waum',
         'Wawoma',
         'Waytua',
         'Weamaquelleh/Larkay',
         'Webbo',
         'Wedjah',
         'Wee',
         'Whengbakon',
         'Whenzohn',
         'White Plains',
         'Whrogbah',
         'Wiah/Cinta',
         'Wolota',
         'Worteh',
         'Wrunah',
         'Wulu-Kola',
         'Wy-Wonnegomia',
         'Yangayah',
         'Yannah/Owensgrove',
         'Yaolay',
         'Yarbayon',
         'Yarmein',
         'Yarwein-Mehnsonneh',
         'Yederobo',
         'Yourpea',
         'Zahn',
         'Zarwakuma',
         'Zeansue',
         'Zeewein',
         'Zehnla',
         'Ziama',
         'Zoe',
         'Zoeduah',
         'Zolokengban',
         'Zor',
         'Zota',
         'Zuie',
         'Zuluzaryea']
Enumeration_areas = {i: k for i, k in enumerate(areas)}
Enumeration_areas

{0: 'Arthington',
 1: 'Bain',
 2: 'Bartee',
 3: 'Bassa point',
 4: 'Belabokre',
 5: 'Bellequelleh',
 6: 'Benda/Borola',
 7: 'Bensonville',
 8: 'Bhai',
 9: 'Bleenon',
 10: 'Blugban',
 11: 'Bluntsville',
 12: 'Boe',
 13: 'Boeglahn',
 14: 'Bolloh',
 15: 'Bondi',
 16: 'Bondi-Mandingo',
 17: 'Bonkomu',
 18: 'Bonwein',
 19: 'Boryermah',
 20: 'Brewerville',
 21: 'Brooksville',
 22: 'Bubli',
 23: 'Buchanan City',
 24: 'Buluyeama',
 25: 'Butaw',
 26: 'Butulu',
 27: 'Careyburg',
 28: 'CentralJeadepo',
 29: 'Chan',
 30: 'Cheesemanburg',
 31: 'Cholobo',
 32: 'Clayashland',
 33: 'Crozierville',
 34: "D'Ing",
 35: 'Darblo',
 36: 'David Toe',
 37: 'Deingmah',
 38: 'Dey-Gbo',
 39: 'Dinning-Ta/Borlola',
 40: 'Doe',
 41: 'Doewein',
 42: 'Doru',
 43: 'Dorzohn',
 44: 'Draoh',
 45: 'Dugba Big Jaye',
 46: 'Dugba Jaffa',
 47: 'Dugba Robert Goe',
 48: 'Duwraken',
 49: 'DwehJaedpo',
 50: 'Ediana',
 51: 'Fahnbulleh',
 52: 'Fahnsen',
 53: 'Farh',
 54: 'Farmersville',
 55: 'Fenwehn',
 56: 'Firestone',
 57: 'Flenekpo',
 58: 'Forpoh',
 59: 'Gainda/Ganna',
 60: 'Garaway/Nemia',
 61: 'Garneo',
 62: 'Garr',
 63: 'Garyea',
 64: 'Gbalakpo',
 65: 'Gbannah',
 66: 'Gbao',
 67: 'Gbarbo',
 68: 'Gbareehn',
 69: 'Gbarjorkor',
 70: 'Gbarlien',
 71: 'Gbarlin',
 72: 'Gbarlu',
 73: 'Gbarma',
 74: 'Gbarnshay',
 75: 'Gbarvon',
 76: 'Gbaybo',
 77: 'Gbeapo',
 78: 'Gbear',
 79: 'Gbehlay',
 80: 'Gbehyee',
 81: 'Gbein',
 82: 'Gbi',
 83: 'Gbilibo',
 84: 'Gblor',
 85: 'Gboe',
 86: 'Gbojey',
 87: 'Gbor',
 88: 'Gboraw/Rayawein',
 89: 'Gborngbo',
 90: 'Gborplay',
 91: 'Gborwein',
 92: 'Gbrbo/Niabo',
 93: 'Gedebo',
 94: 'Geetrah',
 95: 'Gia',
 96: 'Giah',
 97: 'Giamusu/Larkay',
 98: 'Gizzima',
 99: 'Glio',
 100: 'Goah',
 101: 'Goe',
 102: 'Gogowein',
 103: 'Gorblah',
 104: 'Gorblee',
 105: 'Gorlorhun/Larkay',
 106: 'Grand Cess',
 107: 'Grand Cola',
 108: 'Guma/Mende',
 109: 'Gungbeyah',
 110: 'Gwilapolu',
 111: 'Harlandsville Township',
 112: 'Harmonville',
 113: 'Harris-Burg',
 114: 'Hassala',
 115: 'Hembeh',
 116: 'Hoegbahn',
 117: 'Hoegban',
 118: 'Jawejeh',
 119: 'Jloh',
 120: 'Joewein Gbuizon',
 121: 'Jorpoo',
 122: 'Jorquelleh',
 123: 'Juarzon',
 124: 'Kaffia',
 125: 'Karbadee',
 126: 'Karblee',
 127: 'Kaytuken/Killipo',
 128: 'Kingsville',
 129: 'Kitteabo/Glarro',
 130: 'Kleebo',
 131: 'Kokoyah',
 132: 'Konoquelleh/Kinta',
 133: 'Konowulala',
 134: 'Konoyea',
 135: 'Kpaiplay',
 136: 'Kpartolor',
 137: 'Kpatawee',
 138: 'Kpay',
 139: 'Kploh',
 140: 'Kpo',
 141: 'Kposo',
 142: 'Kpowein',
 143: 'Kpoyorquelleh',
 144: 'Krazon',
 145: 'Kulushawboe',
 146: 'Laa',
 147: 'Lao',
 148: 'Lessonoh',
 149: 'Lexington',
 150: 'Little Cola',
 151: 'Lobaizue',
 152: 'Loncay',
 153: 'Lorlah',
 154: 'Louisana',
 155: 'Louisina',
 156: 'Lower Bokomu',
 157: 'Lower Buah',
 158: 'Lower Garwula',
 159: 'Lower Kpaquelleh',
 160: 'Lower Mecca',
 161: 'Lower Tienpo',
 162: 'Lower Two',
 163: 'Lower Worker',
 164: 'Lower Zor',
 165: 'LowerBonkonJaedepo',
 166: 'LowerJaedepo',
 167: 'Lucasu',
 168: 'Manlai',
 169: 'Manna',
 170: 'Marblee',
 171: 'Markoi',
 172: 'Mehn',
 173: 'Mehwein',
 174: 'Mein',
 175: 'Menquelleh',
 176: 'Millsburg',
 177: 'Monrovia',
 178: 'Morweh Doedian',
 179: 'Mount Coffee',
 180: 'Murrayville',
 181: 'Myeinbedewein',
 182: 'Nana Kru',
 183: 'Neekree',
 184: 'Neepu/Doe-Gbahn',
 185: 'Neezoe',
 186: 'Newcess',
 187: 'Nua Point',
 188: 'Numopoh',
 189: 'Nyanforquelleh',
 190: 'Nyanken',
 191: 'Nyanniwein',
 192: 'Nyanpo/Kwiata',
 193: 'Nyen',
 194: 'Paasawee',
 195: 'Palama',
 196: 'Panta',
 197: 'Perluken',
 198: 'Petay',
 199: 'Peter Harris',
 200: 'Petu',
 201: 'Picinicess',
 202: 'Plahnnyarn',
 203: 'Pleemu',
 204: 'Ploe',
 205: 'Quella',
 206: 'Quetroyah',
 207: 'Rankollie',
 208: 'Robertsport',
 209: 'Sallay',
 210: 'Sambola',
 211: 'Sanoyea',
 212: 'Sarbo/Palrpo',
 213: 'Sasstown',
 214: 'Saywhien',
 215: 'Seedor',
 216: 'Seekon',
 217: 'Seeyah',
 218: 'Sehyi',
 219: 'Seimavolah',
 220: 'Senjeh',
 221: 'Senwein',
 222: 'Settra Kru',
 223: 'Sheansuie',
 224: 'Sokpa',
 225: 'Sonniwein',
 226: 'Srolay',
 227: 'Suakoko',
 228: 'Tahamba',
 229: 'Tarsue',
 230: 'Tarweh, Dropo and Putu',
 231: 'Tawalata',
 232: 'Tchien Menson Gorbo',
 233: 'Tchien Menyan Kanna',
 234: 'Tehr',
 235: 'Tengia',
 236: 'Tiabo',
 237: 'Tienpo',
 238: 'Togbeyah',
 239: 'Trade Town',
 240: 'Tubbo',
 241: 'Tubmanvilletship',
 242: 'Tugbaville',
 243: 'Tukpablee',
 244: 'Tuobo',
 245: 'Twabo',
 246: 'Twansiebo',
 247: 'Upper Bokomu',
 248: 'Upper Buah',
 249: 'Upper Garwula',
 250: 'Upper Kpaquelleh',
 251: 'Upper Mecca',
 252: 'Upper Tienpo',
 253: 'Upper Worker',
 254: 'Upper Zor',
 255: 'UpperBonkonJaedepo',
 256: 'UpperJaedpo',
 257: 'Vambo',
 258: 'Vavala',
 259: 'Virginia',
 260: 'Wallahun',
 261: 'Waum',
 262: 'Wawoma',
 263: 'Waytua',
 264: 'Weamaquelleh/Larkay',
 265: 'Webbo',
 266: 'Wedjah',
 267: 'Wee',
 268: 'Whengbakon',
 269: 'Whenzohn',
 270: 'White Plains',
 271: 'Whrogbah',
 272: 'Wiah/Cinta',
 273: 'Wolota',
 274: 'Worteh',
 275: 'Wrunah',
 276: 'Wulu-Kola',
 277: 'Wy-Wonnegomia',
 278: 'Yangayah',
 279: 'Yannah/Owensgrove',
 280: 'Yaolay',
 281: 'Yarbayon',
 282: 'Yarmein',
 283: 'Yarwein-Mehnsonneh',
 284: 'Yederobo',
 285: 'Yourpea',
 286: 'Zahn',
 287: 'Zarwakuma',
 288: 'Zeansue',
 289: 'Zeewein',
 290: 'Zehnla',
 291: 'Ziama',
 292: 'Zoe',
 293: 'Zoeduah',
 294: 'Zolokengban',
 295: 'Zor',
 296: 'Zota',
 297: 'Zuie',
 298: 'Zuluzaryea'}

In [142]:
for i, row in gadm_level_3.iterrows():
    name = row['NAME_3']
    if name in Enumeration_areas.values():
        continue
    else:
        print("Not found", name)

In [146]:
eas = df['EA'].unique()
for i in eas:
    if i not in Enumeration_areas:
        print(i)

nan

In [149]:
for i in df['County'].unique():
    if i not in Counties.keys():
        print(i)

nan

In [150]:
for i in df['District'].unique():
    if i not in Districts.keys():
        print(i)

84.0
77.0
71.0
72.0
79.0
82.0
69.0
80.0
81.0
76.0
86.0
85.0
78.0
83.0
70.0
75.0
73.0
74.0
nan

In [153]:
import numpy as np

df = pd.read_csv("../playground/data/ESMAP/Liberia_L/csv_data/MTF_HH_Main.csv", low_memory=False)


def populate_county(row: pd.Series):
    county = row['County']
    if county is np.nan or county not in Counties.keys():
        return np.nan

    return Counties[county]


def populate_district(row: pd.Series):
    district = row['District']
    if district is np.nan or district not in Districts.keys():
        return np.nan

    return Districts[district]


def populate_ea(row: pd.Series):
    ea = row['EA']
    if ea is np.nan or ea not in Enumeration_areas.keys():
        return np.nan

    return Enumeration_areas[ea]


df['County'] = df.apply(populate_county, axis=1)
df['District'] = df.apply(populate_district, axis=1)
df['EA'] = df.apply(populate_ea, axis=1)
df.head()

,HH_ID,Date_of_questionnaire_submission,County,District,EA,Locality,Language,Household_structure,Number_of_apartment_units,Height,...,metadataend,metadatatoday,metadatadeviceid,nd_1,nd_2,nd_3,SS,sur_result_ss,metainstanceID,KEY
0,339.0,2017-03-16 18:28:00,Lofa,Quardu Gboni,David Toe,1.0,1.0,120.0,1.0,121.0,...,2017-03-16 18:26:00,2017-03-16,ec9bbb4ecb3a7040,1960-01-01 15:12:00,1960-01-01 15:12:00,1960-01-01 14:28:00,1000.0,1.0,uuid:0006bfdb-a021-44c9-8250-016c2fb79147,uuid:0006bfdb-a021-44c9-8250-016c2fb79147
1,5.0,2017-05-27 13:24:00,Maryland,Pleebo/Sodeken,Upper Garwula,1.0,2.0,120.0,1.0,121.0,...,2017-05-27 11:16:00,2017-05-26,7cc8cb01a04abfd8,1960-01-01 11:16:00,1960-01-01 11:16:00,1960-01-01 11:16:00,1000.0,1.0,uuid:00096f15-d833-48e1-9f88-e560ce19eee0,uuid:00096f15-d833-48e1-9f88-e560ce19eee0
2,20.0,2017-05-29 19:52:00,Maryland,Pleebo/Sodeken,Upper Kpaquelleh,1.0,1.0,120.0,5.0,121.0,...,2017-05-29 19:16:00,2017-05-29,7cc8cb01a04abfd8,1960-01-01 11:43:00,1960-01-01 11:44:00,1960-01-01 11:44:00,1000.0,1.0,uuid:0025fd97-17a1-4f20-b5bd-2bfbf573bde2,uuid:0025fd97-17a1-4f20-b5bd-2bfbf573bde2
3,252.0,2017-04-25 05:07:00,Nimba,Webbo,Goah,2.0,2.0,440.0,1.0,441.0,...,2017-04-20 09:04:00,2017-04-18,2b0b41d245795453,1960-01-01 13:16:30,1960-01-01 13:16:30,1960-01-01 13:16:30,4000.0,1.0,uuid:002662e7-c92b-4c89-9a80-73c90a86face,uuid:002662e7-c92b-4c89-9a80-73c90a86face
4,22.0,2017-05-17 09:03:00,Gbapolu,District # 3,Seimavolah,2.0,1.0,250.0,3.0,251.0,...,2017-05-17 06:55:00,2017-05-14,97e04b33256ba709,1960-01-01 12:49:30,1960-01-01 12:49:30,1960-01-01 12:49:30,2000.0,1.0,uuid:0036e1d5-595d-4860-90eb-83f17be07002,uuid:0036e1d5-595d-4860-90eb-83f17be07002

In [154]:
df.to_csv("../playground/data/ESMAP/Liberia_L/csv_data/MTF_HH_Main_gadm_revised.csv", index=False)

# Ethopia

In [41]:
import pathlib
import pandas as pd
import numpy as np

In [42]:
DB_ROOT = "../playground/data/ESMAP/Ethiopia_L/csv_data"
root = pathlib.Path(DB_ROOT)

In [127]:
gadm_level_1_df = pd.read_csv(root.joinpath('GADM_level_1.csv'))
gadm_level_2_df = pd.read_csv(root.joinpath('GADM_level_2.csv'))
gadm_level_3_df = pd.read_csv(root.joinpath('GADM_level_3.csv'))
fn = lambda row: row['NAME_3'].replace('-', '').lower()
gadm_level_3_df['Name'] = gadm_level_3_df.apply(fn, axis=1)

fn2 = lambda row: row['NAME_2'].replace('-', '').lower()
gadm_level_2_df['Name'] = gadm_level_2_df.apply(fn2, axis=1)

In [128]:
gadm_level_1_df.head()

,Unnamed: 0,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1,geometry,Climate_majority
0,0,ETH.1_1,ETH,Ethiopia,Addis Abeba,Āddīs Ābaba|Addis Ababa|Adis-Abe,NaN,Astedader,City,14,ET.AA,NaN,"POLYGON ((38.87944793700012 8.918313981000097,...",6.85050
1,1,ETH.2_1,ETH,Ethiopia,Afar,NaN,NaN,Kilil,State,2,ET.AF,ET-AF,"POLYGON ((40.15224838200015 8.931959153000037,...",15.77975
2,2,ETH.3_1,ETH,Ethiopia,Amhara,Amara,NaN,Kilil,State,3,ET.AM,NaN,"POLYGON ((39.74115753100011 9.023024560000124,...",10.16325
3,3,ETH.4_1,ETH,Ethiopia,Benshangul-Gumaz,Beneshangul Gumu,NaN,Kilil,State,6,ET.BE,NaN,"POLYGON ((34.86679458700007 9.902260781000166,...",14.37075
4,4,ETH.5_1,ETH,Ethiopia,Dire Dawa,NaN,NaN,Astedader,City,15,ET.DD,ET-DD,"POLYGON ((41.93584823500015 9.663463593000074,...",11.75350

In [129]:
values = gadm_level_1_df['CC_1'].unique()

In [130]:
sorted(values)

[1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15]

In [131]:
len(values)

11

In [132]:
identification = pd.read_csv(root.joinpath('Identification.csv'))
identification.head()

,HHID,HI_1,HI_2,HI_3,HI_4,HI_5,HI_6,HI_7new,HI_14,eaid,A0,zone_csa,wereda_name
0,1010200116005,1,1,2,1,16,1,5,10/02/17,1.010220e+12,3,1,LAELAY ADIABO
1,1010200116014,1,1,2,1,16,1,14,10/02/17,1.010220e+12,4,1,LAELAY ADIABO
2,1010200116023,1,1,2,1,16,1,23,10/02/17,1.010220e+12,3,1,LAELAY ADIABO
3,1010200116032,1,1,2,1,16,1,32,10/02/17,1.010220e+12,4,1,LAELAY ADIABO
4,1010200116041,1,1,2,1,16,1,41,11/02/17,1.010220e+12,5,1,LAELAY ADIABO

In [133]:
region = identification['HI_1'].unique()
region

array([ 1,  2,  3,  4,  5,  6,  7, 12, 13, 14, 15])

In [134]:
cc2 = gadm_level_2_df['NAME_2'].unique()
cc2 = sorted(cc2)
zones = {
    (i + 1): k for i, k in enumerate(cc2)
}




cc3 = gadm_level_3_df['NAME_3'].unique()
cc3 = sorted(cc3)
woredas = {
    (i + 1): k for i, k in enumerate(cc3)
}



def populate_region(row: pd.Series):
    region = row['HI_1']
    gadm_level = gadm_level_1_df[gadm_level_1_df['CC_1'] == region]
    return gadm_level['NAME_1'].values[0]


def populate_zone(row: pd.Series):
    zone = row['HI_2']
    if zone not in zones.keys():
        return np.nan
    return zones[zone]


def populate_woreda(row: pd.Series):
    code = row['HI_3']
    if code not in woredas.keys():
        return np.nan
    return woredas[code]

In [135]:
identification['Region'] = identification.apply(populate_region, axis=1)
identification['Zone'] = identification.apply(populate_zone, axis=1)
identification['Woreda'] = identification.apply(populate_woreda, axis=1)
identification.head(1222)

,HHID,HI_1,HI_2,HI_3,HI_4,HI_5,HI_6,HI_7new,HI_14,eaid,A0,zone_csa,wereda_name,Region,Zone,Woreda
0,1010200116005,1,1,2,1,16,1,5,10/02/17,1.010220e+12,3,1,LAELAY ADIABO,Tigray,Addis Abeba,Ababo
1,1010200116014,1,1,2,1,16,1,14,10/02/17,1.010220e+12,4,1,LAELAY ADIABO,Tigray,Addis Abeba,Ababo
2,1010200116023,1,1,2,1,16,1,23,10/02/17,1.010220e+12,3,1,LAELAY ADIABO,Tigray,Addis Abeba,Ababo
3,1010200116032,1,1,2,1,16,1,32,10/02/17,1.010220e+12,4,1,LAELAY ADIABO,Tigray,Addis Abeba,Ababo
4,1010200116041,1,1,2,1,16,1,41,11/02/17,1.010220e+12,5,1,LAELAY ADIABO,Tigray,Addis Abeba,Ababo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,4231700417006,4,23,17,4,17,1,6,11/02/17,4.021710e+12,4,2,NEKEMTE TOWN WOREDA,Oromia,Debub Gondar,Adda Berga
1218,4231700417007,4,23,17,4,17,1,7,11/02/17,4.021710e+12,7,2,NEKEMTE TOWN WOREDA,Oromia,Debub Gondar,Adda Berga
1219,4231700417008,4,23,17,4,17,1,8,11/02/17,4.021710e+12,5,2,NEKEMTE TOWN WOREDA,Oromia,Debub Gondar,Adda Berga
1220,4231700417009,4,23,17,4,17,1,9,12/02/17,4.021710e+12,3,2,NEKEMTE TOWN WOREDA,Oromia,Debub Gondar,Adda Berga
1221,4231700417010,4,23,17,4,17,1,10,13/02/17,4.021710e+12,4,2,NEKEMTE TOWN WOREDA,Oromia,Debub Gondar,Adda Berga

In [136]:
identification.to_csv(root.joinpath('Identification_gadm.csv'), index=False)

{1: 'Addis Abeba',
 2: 'Afar Zone 1',
 3: 'Afar Zone 2',
 4: 'Afar Zone 3',
 5: 'Afar Zone 4',
 6: 'Afar Zone 5',
 7: 'Afder',
 8: 'Agew Awi',
 9: 'Agnuak',
 10: 'Alaba',
 11: 'Alle',
 12: 'Amaro',
 13: 'Argoba',
 14: 'Arsi',
 15: 'Asosa',
 16: 'Bahir Dar Special Zone',
 17: 'Bale',
 18: 'Basketo',
 19: 'Bench Maji',
 20: 'Borena',
 21: 'Burji',
 22: 'Dawro',
 23: 'Debub Gondar',
 24: 'Debub Mirab Shewa',
 25: 'Debub Omo',
 26: 'Debub Wollo',
 27: 'Debubawi',
 28: 'Derashe',
 29: 'Dire Dawa',
 30: 'Doolo',
 31: 'Fafan',
 32: 'Gamo Gofa',
 33: 'Gedeo',
 34: 'Guji',
 35: 'Gurage',
 36: 'Hadiya',
 37: 'Hareri',
 38: 'Horo Guduru',
 39: 'Ilubabor',
 40: 'Jarar',
 41: 'Jimma',
 42: 'Keffa',
 43: 'Kelem Wellega',
 44: 'Kemashi',
 45: 'Kembata Tembaro',
 46: 'Konso',
 47: 'Konta',
 48: 'Korahe',
 49: 'Liben',
 50: 'Majang',
 51: 'Mehakelegnaw',
 52: 'Metekel',
 53: "Mi'irabawi",
 54: 'Mirab Arsi',
 55: 'Mirab Gojjam',
 56: 'Mirab Hararghe',
 57: 'Mirab Shewa',
 58: 'Mirab Welega',
 59: 'Misraq Gojjam',
 60: 'Misraq Harerge',
 61: 'Misraq Shewa',
 62: 'Misraq Wellega',
 63: 'Misraqawi',
 64: 'Nogob',
 65: 'North Shewa',
 66: 'Nuer',
 67: 'Oromia',
 68: 'Semen Gondar',
 69: 'Semen Wello',
 70: "Semien Mi'irabaw",
 71: 'Shabelle',
 72: 'Sheka',
 73: 'Sidama',
 74: 'Silti',
 75: 'Siti',
 76: 'Wag Himra',
 77: 'Wolayita',
 78: 'Yem'}

In [114]:
hi2 = identification['HI_2'].unique()
len(hi2)

78