# Tanzania CEFA 2016 Nexus EE dataset
This notebook is used to create the dataset for CEFA 2016 nexus EE. The dataset consists of multiple files.
- Q_nexus_HH_Analysis_General
- Q_nexus_HH_Analysis_Supply
- Q_nexus_HH_Analysis_Appliances
- Q_nexus_US_Analysis_General
- Q_nexus_US_Analysis_Supply
- Q_nexus_US_Analysis_Appliances
- Village_GPS_info
- GADM_level_3
- GADM_level_1
- GADM_level_2

In [55]:
import os
import sys
import pandas as pd
import numpy as np

sys.path.append("../../")  # Adds higher directory to python modules path.
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
from core.ODEDataset import ODEDataset
from utils import common_modifiers, appliances_modifiers, geospatial, socio_modifiers

import pathlib
from utils import constants

In [56]:
DB_ROOT = "../../playground/data/CEFA_Tanzania/2016_EE_nexus"

root = pathlib.Path(DB_ROOT)

ID_COL = "ID"

## Clusters
Clusters are group of columns used together to create a new feature.

## Categories
Map the original values to the standard values.

In [57]:
Education_level_original2final = {
    'N': 'No schooling',
    'P': 'Primary education',
    'S': 'Secondary education',
}

Socio_status_original2final = {
    'Agr': 'Own-account worker farm',
    'Self': 'Own-account worker non-farm',
    'Agr; Self': 'Own-account worker farm',
}

Connection_type_original2final = {
    'Grid': 'National grid',
    'Grid GenSet': 'National grid',
    'Grid Solar': 'National grid',
    'Solar': 'Solar Home System',
}

Tariff_payment_frequency_original2final = {
    'W': 'Weekly',
    'W2': 'Every 2 weeks',
    'M/2': 'Every 2 weeks',
    'M': 'Monthly',
    'D2': 'Other',
    "Don't know": 'Other',
}

## General
Merge the general information from the datasets:
- Q_nexus_HH_Analysis_General
- Q_nexus_US_Analysis_General

**The general information includes**:
- Monthly_expenditure
- Number_of_rooms
- Number_adults
- Education_level_HHH
- Age_HHH
- Socio_status_HHH
- Climate_zone_lev_1
- Climate_zone_lev_2

In [58]:
Q_nexus_HH = ODEDataset("Q_nexus_HH")
Q_nexus_US = ODEDataset("Q_nexus_US")

Q_nexus_HH.from_excel(root.joinpath("Q_nexus_HH_Analysis_General.xlsx"))
Q_nexus_US.from_excel(root.joinpath("Q_nexus_US_Analysis_General.xlsx"))

### GeoSpatial Information

In [59]:
Q_nexus_HH = Q_nexus_HH.apply(common_modifiers.rename({
    "Q_nexus_HH": ID_COL,
}))

Q_nexus_US = Q_nexus_US.apply(common_modifiers.rename({
    "US_size": 'Size',
    'Q_nexus_US': ID_COL,
}))

hh_cols = Q_nexus_HH.get_columns()
us_cols = Q_nexus_US.get_columns()

cols_in_hh_not_in_us = [c for c in hh_cols if c not in us_cols]
cols_in_us_not_in_hh = [c for c in us_cols if c not in hh_cols]

Q_nexus_HH = Q_nexus_HH.apply(common_modifiers.add_const_driver_many({
    c: np.nan for c in cols_in_us_not_in_hh
}))

Q_nexus_US = Q_nexus_US.apply(common_modifiers.add_const_driver_many({
    c: np.nan for c in cols_in_hh_not_in_us
}))

Q_General = Q_nexus_HH.concat(Q_nexus_US)
# Drop unnecessary columns
Q_General = Q_General.drop_columns(['Comments', 'Changes', 'Issues', 'Impact', 'Connection_reason'])
Q_General = Q_General.group_by(ID_COL)
Q_General.preview(300)

,ID,Village,Interviewee,Role,Age,Sex,Education,Members,Rooms,Size,...,Competition,Customers,Sales_min,Sales_max,Expenses,Problems,Owner_other,Connection,Impact_other,Impact_spec
0,Q_nexus_HH_01,[Nyombo],[Esta],[Mama],[60],[F],[P],[6.0],[7.0],[60],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
1,Q_nexus_HH_02,[Nyombo],[Bernard],[Head],[28],[M],[P],[4.0],[5.0],[40],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
2,Q_nexus_HH_03,[Nyombo],[Rahel],[Mama],[35],[F],[P],[6.0],[6.0],[40],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
3,Q_nexus_HH_04,[Nyombo],[Elina],[Mama],[51],[F],[P],[4.0],[5.0],[40],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
4,Q_nexus_HH_05,[Nyombo],[Sela],[Mama],[28],[F],[P],[4.0],[6.0],[27],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
5,Q_nexus_HH_06,[Nyombo],[Wilbert],[Baba],[24],[M],[P],[2.0],[4.0],[25],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
6,Q_nexus_HH_07,[Nyombo],[Iusta],[Mama],[39],[F],[P],[7.0],[13.0],[65],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
7,Q_nexus_HH_08,[Nyombo],[Flora],[Daughter],[22],[F],[P],[4.0],[7.0],[35],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
8,Q_nexus_HH_09,[Nyombo],[Natila],[Mama],[45],[F],[N],[7.0],[8.0],[150],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
9,Q_nexus_HH_10,[Nyombo],[France Kaduma],[Head],[52],[M],[P],[7.0],[10.0],[70],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
10,Q_nexus_HH_11,[Nyombo],[Eva],[Mama],[36],[F],[P],[7.0],[9.0],[60],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
11,Q_nexus_HH_12,[Nyombo],[Lustica],[Mama],[30],[F],[P],[6.0],[13.0],[120],...,[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan],[nan]
12,Q_nexus_US_01,[Nyombo],[Alfreda],[Owner],[29],[F],[S],[nan],[nan],[10],...,[4.0],[15.0],[15000.0],[15000.0],[Rents; Goods],[Few customers],[Beverages store],[Y],[nan],"[No, started after]"
13,Q_nexus_US_03,[Nyombo],[Veronica],[Owner],[24],[F],[S],[nan],[nan],[6],...,[15.0],[3.0],[3000.0],[3000.0],[Rents],[High expenditures compared to sales],[nan],[Y],[nan],[nan]
14,Q_nexus_US_04,[Nyombo],[Abneta],[Owner],[20],[F],[S],[nan],[nan],[22],...,[11.0],[15.0],[10000.0],[30000.0],[Charcoal],[Few customers; Delayed payements],[nan],[Y],[nan],[No]
15,Q_nexus_US_05,[Nyombo],[Ayuobo],[Owner],[25],[M],[S],[nan],[nan],[6],...,[1.0],[50.0],[2000.0],[4000.0],[Maintenance; Maintenance],[Unreliable electricity supply],[Motorcycle parts shop],[Y],[nan],[No]
16,Q_nexus_US_06,[Nyombo],[Neema],[Owner],[28],[F],[P],[nan],[nan],[12],...,[0.0],[20.0],[1000.0],[50000.0],[Goods],[Low incomes],[nan],[N],[nan],"[+2 hours, stopped using candles]"
17,Q_nexus_US_07,[Nyombo],[Costa],[Owner],[58],[M],[P],[nan],[nan],[15],...,[6.0],[12.0],[10000.0],[20000.0],[Electricity],[Few customers],[nan],[Y],[nan],"[+2h, +5000 TZS/month]"
18,Q_nexus_US_08,[Nyombo],[Kano],[Worker],[27],[M],[P],[nan],[nan],[0],...,[0.0],[75.0],[20000.0],[80000.0],[Water; Maintenance],[Few customers],[nan],[Y],[nan],[+2-3 hours]
19,Q_nexus_US_09,[Nyombo],[Amina],[Owner],[19],[F],[S],[nan],[nan],[9],...,[3.0],[20.0],[30000.0],[200000.0],[Transport],[Low incomes; Business competition],[nan],[Y],[nan],[No]
20,Q_nexus_US_10,[Nyombo],[Abdalah],[Worker],[19],[M],[P],[nan],[nan],[8],...,[2.0],[15.0],[4000.0],[30000.0],[Meals],[Few customers; Delayed payements],[Shop],[N],[nan],[+3 hours]
21,Q_nexus_US_11,[Nyombo],[Manuel],[Worker],[30],[M],[P],[nan],[nan],[30],...,[1.0],[30.0],[25000.0],[100000.0],[Meals],[Low incomes],"[Restaurant, shop, timber]",[Y],[nan],[No]
22,Q_nexus_US_12,[Nyombo],[Monica],[Owner],[35],[F],[P],[nan],[nan],[3],...,[10.0],[3.0],[10000.0],[17000.0],[Material; Subcontracts due to machine's short...,[Lack of machines; Low capitals],[nan],[Y],[nan],[+2 hours]
23,Q_nexus_US_13,[Nyombo],[Faraja],[Worker],[22],[F],[S],[nan],[nan],[4],...,[1.0],[10.0],[20000.0],[100000.0],[Material; Electricity],[Few customers],[Hardware shop],[Y],[nan],[No]
24,Q_nexus_US_14,[Nyombo],[Faraja],[Worker],[22],[F],[S],[nan],[nan],[12],...,[1.0],[10.0],[100000.0],[300000.0],[Goods],[Delayed payements],[Stationary],[Y],[nan],[2]
25,Q_nexus_US_15,[Nyombo],[Nance],[Worker],[25],[F],[S],[nan],[nan],[70],...,[0.0],[5.0],[15000.0],[55000.0],[Electricity],[Low customers; Low incomes],"[Pub, timber]",[Y],[nan],[+2 hours]
26,Q_nexus_US_16,[Nyombo],[Neema],[Worker],[26],[F],[P],[nan],[nan],[12],...,[2.0],[15.0],[30000.0],[500000.0],[Goods; Wages; Electricity],[Nothing],"[Guest house, timber]",[Y],[nan],[+4 hours]
27,Q_nexus_US_17,[Nyombo],[Shaibu],[Worker],[21],[M],[P],[nan],[nan],[10],...,[3.0],[15.0],[35000.0],[120000.0],[Electricity; Meals],[Nothing],[Shop],[Y],[nan],[+50% customers for welding]
28,Q_nexus_US_18,[Nyombo],[Barack],[Worker],[28],[M],[S],[nan],[nan],[15],...,[3.0],[15.0],[10000.0],[25000.0],[Maintenance],[Few customers],[Timber],[Y],[nan],[No]
29,Q_nexus_US_19,[Nyombo],[Olea],[Worker],[32],[F],[P],[nan],[nan],[22],...,[0.0],[25.0],[20000.0],[400000.0],[Rents; Goods; Wages; Transport],[Cost of goods],[nan],[N],[nan],[3]
30,Q_nexus_US_20,[Nyombo],[Patricia],[Owner],[32],[F],[P],[nan],[nan],[40],...,[7.0],[100.0],[70000.0],[150000.0],[Material; Goods],[Low investments],[nan],[Y],[nan],"[+1 hour, +15 customers/day]"
31,Q_nexus_US_21,[Nyombo],[Bertus],[Owner],[30],[M],[P],[nan],[nan],[0],...,[1.0],[10.0],[200000.0],[500000.0],[Wages; Maintenance; Electricity],[Lack of equipment; Cost of raw material],[nan],[Y],[nan],[No]
32,Q_nexus_US_22,[Nyombo],[Ahasi],[Worker],[24],[M],[P],[nan],[nan],[11],...,[0.0],[10.0],[5000.0],[25000.0],[Rents; Electricity],[Nothing],[nan],[Y],[nan],[No]
33,Q_nexus_US_23,[Nyombo],[Elisabeth],[Worker],[26],[F],[P],[nan],[nan],[30],...,[3.0],[40.0],[50000.0],[250000.0],[Goods],[Few workers; Low investments],[nan],[Y],[nan],[No]
34,Q_nexus_US_24,[Nyombo],[Aron],[Owner],[30],[M],[P],[nan],[nan],[6],...,[1.0],[3.0],[5000.0],[30000.0],[Maintenance],[Low investments; Delayed payements],[Timber],[Y],[nan],[No]
35,Q_nexus_US_25,[Nyombo],[Fede],[Worker],[32],[M],[P],[nan],[nan],[4],...,[0.0],[50.0],[50000.0],[120000.0],[Goods],[Delayed payements],[nan],[Y],[nan],[No]
36,Q_nexus_US_26,[Nyombo],[Watson],[Owner],[40],[M],[P],[nan],[nan],[0],...,[1.0],[5.0],[10000.0],[50000.0],[Maintenance],[Lack of raw material],[nan],[Y],[Lower operating costs],[-19000 TZS/day for timber cutting]
37,Q_nexus_US_27,[Nyombo],[Dixon],[Owner],[30],[M],[P],[nan],[nan],[7],...,[1.0],[10.0],[20000.0],[80000.0],[Rents; Goods; Taxes],[Low investments],[Timber],[Y],[nan],[1]
38,Q_nexus_US_28,[Nyombo],[Happy],[Worker],[29],[F],[P],[nan],[nan],[50],...,[0.0],[50.0],[15000.0],[40000.0],[Goods],[Cost of goods],[Local beer pub],[Y],[nan],[No]
39,Q_nexus_US_29,[Nyombo],[Leyton],[Owner],[23],[M],[S],[nan],[nan],[7],...,[0.0],[3.0],[5000.0],[50000.0],[Goods; Maintenance],[Unreliable electricity supply],[nan],[Y],[nan],[No]

In [60]:
gadm_level_1_df = pd.read_excel(root.joinpath("GADM_level_1.xlsx"))
gadm_level_2_df = pd.read_excel(root.joinpath("GADM_level_2.xlsx"))
gadm_level_3_df = pd.read_excel(root.joinpath("GADM_level_3.xlsx"))

village_gps_info_df = pd.read_excel(root.joinpath("Village_GPS_info.xlsx"))

In [61]:
Q_General = Q_General.apply(common_modifiers.add_const_driver('GADM_level_0', 'Tanzania'))
Q_General = Q_General.new_feature("Township/Village",
                                  lambda row: row["Village"])

Q_General = Q_General.new_feature("GADM_level_1",
                                  geospatial.gis_info_by_village_level("GADM_level_1",
                                                                       village_gps_info_df))

Q_General = Q_General.new_feature("GADM_level_2",
                                  geospatial.gis_info_by_village_level("GADM_level_2",
                                                                       village_gps_info_df))

Q_General = Q_General.new_feature("GADM_level_3",
                                  geospatial.gis_info_by_village_level("GADM_level_3",
                                                                       village_gps_info_df))

Q_General = Q_General.new_feature("Climate_zone_lev_1",
                                  geospatial.gis_info_by_gadm_level('Climate_majority',
                                                                    gadm_level_1_df,
                                                                    'GADM_level_1'))
Q_General = Q_General.new_feature("Climate_zone_lev_2",
                                  geospatial.gis_info_by_gadm_level('Climate_majority',
                                                                    gadm_level_2_df,
                                                                    'GADM_level_2'))

In [62]:
Q_General.preview()

,ID,Village,Interviewee,Role,Age,Sex,Education,Members,Rooms,Size,...,Connection,Impact_other,Impact_spec,GADM_level_0,Township/Village,GADM_level_1,GADM_level_2,GADM_level_3,Climate_zone_lev_1,Climate_zone_lev_2
0,Q_nexus_HH_01,[Nyombo],[Esta],[Mama],[60],[F],[P],[6.0],[7.0],[60],...,[nan],[nan],[nan],Tanzania,[Nyombo],Njombe,Njombe,Ikuna,12,12
1,Q_nexus_HH_02,[Nyombo],[Bernard],[Head],[28],[M],[P],[4.0],[5.0],[40],...,[nan],[nan],[nan],Tanzania,[Nyombo],Njombe,Njombe,Ikuna,12,12
2,Q_nexus_HH_03,[Nyombo],[Rahel],[Mama],[35],[F],[P],[6.0],[6.0],[40],...,[nan],[nan],[nan],Tanzania,[Nyombo],Njombe,Njombe,Ikuna,12,12
3,Q_nexus_HH_04,[Nyombo],[Elina],[Mama],[51],[F],[P],[4.0],[5.0],[40],...,[nan],[nan],[nan],Tanzania,[Nyombo],Njombe,Njombe,Ikuna,12,12
4,Q_nexus_HH_05,[Nyombo],[Sela],[Mama],[28],[F],[P],[4.0],[6.0],[27],...,[nan],[nan],[nan],Tanzania,[Nyombo],Njombe,Njombe,Ikuna,12,12

In [63]:
Q_General = Q_General.apply(common_modifiers.rename({
    'Expenditures': 'Monthly_expenditure',
    'Rooms': 'Number_of_rooms',
})).apply(
    common_modifiers.take('Monthly_expenditure', 0)).apply(
    common_modifiers.take('Number_of_rooms', 0))

Q_General = Q_General.new_feature("Number_adults", lambda x: x['Members'][0] * 0.535)
Q_General = Q_General.new_feature("Education_level_HHH",
                                  common_modifiers.categorize("Education", Education_level_original2final)).apply(
    common_modifiers.take('Education_level_HHH', 0))
Q_General = Q_General.new_feature("Socio_status_HHH",
                                  common_modifiers.categorize("Income source", Socio_status_original2final)).apply(
    common_modifiers.take('Socio_status_HHH', 0))
# Age_HHH

Q_General = Q_General.new_feature("Age_HHH", socio_modifiers.extract_age_of_head("Age", "Role", "Head"))
Q_General.preview()

,ID,Village,Interviewee,Role,Age,Sex,Education,Members,Number_of_rooms,Size,...,Township/Village,GADM_level_1,GADM_level_2,GADM_level_3,Climate_zone_lev_1,Climate_zone_lev_2,Number_adults,Education_level_HHH,Socio_status_HHH,Age_HHH
0,Q_nexus_HH_01,[Nyombo],[Esta],[Mama],[60],[F],[P],[6.0],7.0,[60],...,[Nyombo],Njombe,Njombe,Ikuna,12,12,3.21,Primary education,Own-account worker farm,NaN
1,Q_nexus_HH_02,[Nyombo],[Bernard],[Head],[28],[M],[P],[4.0],5.0,[40],...,[Nyombo],Njombe,Njombe,Ikuna,12,12,2.14,Primary education,Own-account worker farm,28.0
2,Q_nexus_HH_03,[Nyombo],[Rahel],[Mama],[35],[F],[P],[6.0],6.0,[40],...,[Nyombo],Njombe,Njombe,Ikuna,12,12,3.21,Primary education,Own-account worker farm,NaN
3,Q_nexus_HH_04,[Nyombo],[Elina],[Mama],[51],[F],[P],[4.0],5.0,[40],...,[Nyombo],Njombe,Njombe,Ikuna,12,12,2.14,Primary education,Own-account worker farm,NaN
4,Q_nexus_HH_05,[Nyombo],[Sela],[Mama],[28],[F],[P],[4.0],6.0,[27],...,[Nyombo],Njombe,Njombe,Ikuna,12,12,2.14,Primary education,Own-account worker farm,NaN

In [64]:
Q_General = Q_General.select(
    [ID_COL,
     'Monthly_expenditure', 'Number_of_rooms', 'Number_adults',
     'Education_level_HHH', 'Age_HHH', 'Socio_status_HHH',
     'Climate_zone_lev_1', 'Climate_zone_lev_2',

     ])
Q_General.preview()

,ID,Monthly_expenditure,Number_of_rooms,Number_adults,Education_level_HHH,Age_HHH,Socio_status_HHH,Climate_zone_lev_1,Climate_zone_lev_2
0,Q_nexus_HH_01,30000.0,7.0,3.21,Primary education,NaN,Own-account worker farm,12,12
1,Q_nexus_HH_02,30000.0,5.0,2.14,Primary education,28.0,Own-account worker farm,12,12
2,Q_nexus_HH_03,15000.0,6.0,3.21,Primary education,NaN,Own-account worker farm,12,12
3,Q_nexus_HH_04,20000.0,5.0,2.14,Primary education,NaN,Own-account worker farm,12,12
4,Q_nexus_HH_05,15000.0,6.0,2.14,Primary education,NaN,Own-account worker farm,12,12

## Supply
Q_nexus_HH_Analysis_Supply + Q_nexus_US_Analysis_Supply
- Measurement_age
- Tariff_payment_frequency

In [65]:
Q_nexus_HH_supply = ODEDataset("Q_nexus_HH_supply")
Q_nexus_US_supply = ODEDataset("Q_nexus_US_supply")

Q_nexus_HH_supply.from_excel(root.joinpath("Q_nexus_HH_Analysis_Supply.xlsx"))
Q_nexus_US_supply.from_excel(root.joinpath("Q_nexus_US_Analysis_Supply.xlsx"))

In [66]:
Q_nexus_HH_supply = Q_nexus_HH_supply.apply(common_modifiers.rename({
    "Q_nexus_HH": ID_COL,
}))
Q_nexus_US_supply = Q_nexus_US_supply.apply(common_modifiers.rename({
    'Q_nexus_US': ID_COL,
})).drop_columns(['Acces_date_old', 'EE_importance'])
Q_Supply = Q_nexus_HH_supply.concat(Q_nexus_US_supply)

Q_Supply.preview(300)

,ID,Connection,Acces_date,Metering,Bill_time,Bill_cost,Blackouts,Damages,Damages_quant,Supply_comments
0,Q_nexus_HH_04,Solar,2012.0,Shared,NaN,NaN,0,N,No,No
1,Q_nexus_HH_06,Solar,2015.0,Indiv,NaN,NaN,0,N,No,Far line
2,Q_nexus_HH_07,Solar,2012.0,Indiv,NaN,NaN,0,N,No,No
3,Q_nexus_HH_09,Grid,2013.0,Indiv,M,10000.0,3,N,No,Expensive
4,Q_nexus_HH_10,Grid,2009.0,Indiv,M,15000.0,2,Y,Pump,Expensive
5,Q_nexus_HH_11,Grid,2008.0,Indiv,M/2,NaN,3,N,No,Frequent cut-offs; buy 20 units
6,Q_nexus_HH_12,Grid,2009.0,Shared,M,20000.0,3,Y,Phones,Frequent cut-offs
0,Q_nexus_US_01,Grid,2013.0,Shared,M,4000,2,Y,Changed 4 bulbs since started,Frequent cut-offs; Insufficient power supply;...
1,Q_nexus_US_03,Grid,2016.0,Shared,M,400,3,N,No,No
2,Q_nexus_US_04,Grid,2016.0,Shared,W2,2000,2,N,No,Frequent cut-offs
3,Q_nexus_US_05,Grid,2013.0,Indiv,W,100000,3,Y,2 times since started 500000 TZS/machine,No
4,Q_nexus_US_07,Grid,2016.0,Shared,M,3000,2,Y,1 time since starded,No
5,Q_nexus_US_08,Grid GenSet,2011.0,Indiv,M,100000,2,Y,85000 TZS for changing the centralina,Frequent cut-offs
6,Q_nexus_US_09,Grid,2015.0,Shared,M,5000,3,Y,Changed 1 outdoor bulb since started,Frequent cut-offs
7,Q_nexus_US_11,Grid,NaN,Indiv,M,40000,4,N,No,Frequent cut-offs
8,Q_nexus_US_12,Grid,2015.0,Shared,M,10000,4,N,No,Insufficient power supply; Slow assistance ser...
9,Q_nexus_US_13,Grid,2011.0,Shared,M,15000,2,N,No,Frequent cut-offs
10,Q_nexus_US_14,Grid,2011.0,Shared,M,15000,3,N,No,Frequent cut-offs
11,Q_nexus_US_15,Grid Solar,NaN,Shared,Don't know,Don't know,3,N,No,No
12,Q_nexus_US_16,Grid Solar,NaN,Shared,Don't know,Don't know,3,N,No,Frequent cut-offs
13,Q_nexus_US_18,Grid,NaN,Shared,M,10000,2,N,No,Frequent cut-offs
14,Q_nexus_US_20,Grid,2013.0,Shared,M,11000,2,Y,Changed 2 bulbs since started,Frequent cut-offs; Expensive fees
15,Q_nexus_US_21,Grid,2011.0,Indiv,D2,10000,3,Y,Capacitor broke once,Frequent cut-offs; Insufficient power supply;...
16,Q_nexus_US_22,Grid,NaN,Shared,W,5000,3,N,No,Frequent cut-offs
17,Q_nexus_US_23,Grid,NaN,Shared,W2,5000,2,N,No,No
18,Q_nexus_US_24,Grid,2014.0,Shared,M,10000,3,Y,100000 TZS since started,Expensive fees
19,Q_nexus_US_25,Grid,2015.0,Shared,M,Don't know,2,Y,Changed 2 bulbs since started,Frequent cut-offs
20,Q_nexus_US_26,Grid,2012.0,Shared,D2,5000,3,Y,2 times + 1 repaired for 1.2 millions TZS,Insufficient power supply
21,Q_nexus_US_27,Grid,2011.0,Shared,W,3000,2,Y,"Wires, 50000 TZS",Frequent cut-offs; High connection fees
22,Q_nexus_US_28,Grid,NaN,Shared,Don't know,Don't know,1,N,No,No
23,Q_nexus_US_29,Grid,2015.0,Shared,M,10000,2,N,No,Frequent cut-offs

In [67]:

Survey_date = 2016
Q_Supply = Q_Supply.new_feature("Measurement_age", lambda x: Survey_date - x['Acces_date'])
Q_Supply = Q_Supply.new_feature("Tariff_payment_frequency",
                                common_modifiers.categorize("Bill_time", Tariff_payment_frequency_original2final))

Q_Supply = Q_Supply.select([ID_COL, "Measurement_age", "Tariff_payment_frequency"])

In [68]:
Q_Supply.preview()

              ID  Measurement_age Tariff_payment_frequency
0  Q_nexus_HH_04              4.0                      NaN
1  Q_nexus_HH_06              1.0                      NaN
2  Q_nexus_HH_07              4.0                      NaN
3  Q_nexus_HH_09              3.0                  Monthly
4  Q_nexus_HH_10              7.0                  Monthly

## Appliances
General Appliances sections
- Presence_phone_charger
- Presence_iron
- Presence_TV
- Presence_refrigerator/freezer
- Presence_radio/stereo
- Presence_DVD_player
- Presence_fan

In [69]:

US_Appliances = ODEDataset("Q_nexus_US_Analysis_Appliances.xlsx")
HH_Appliances = ODEDataset("Q_nexus_HH_Analysis_Appliances.xlsx")

US_Appliances.from_excel(root.joinpath("Q_nexus_US_Analysis_Appliances.xlsx"))
HH_Appliances.from_excel(root.joinpath("Q_nexus_HH_Analysis_Appliances.xlsx"))

US_Appliances = US_Appliances.apply(common_modifiers.rename({
    "Q_nexus_US": ID_COL,
}))

HH_Appliances = HH_Appliances.apply(common_modifiers.rename({
    "Q_nexus_HH": ID_COL,
}))

Q_Appliances = HH_Appliances.concat(US_Appliances).group_by(ID_COL)
Q_Appliances.preview()

,ID,Item,Item_power,Item_number,Time_average,Time_minimum,ST_FW1,ET_FW1,ST_FW2,ET_FW2,Date_num_1,Date_num_2,Date_num_3,Unnamed: 13,Unnamed: 14
0,Q_nexus_HH_04,"[Ind_lights, Out_lights]","[18, 18]","[1, 1]","[720, 720]","[720, 720]","[0, 0]","[420, 420]","[1140, 1140]","[1440, 1440]","[2012 1, 2012 1]","[nan, nan]","[nan, nan]","[nan, nan]","[nan, nan]"
1,Q_nexus_HH_06,"[Ind_lights, Radio]","[18, 10]","[1, 1]","[660, 420]","[660, 180]","[0, 360]","[360, 1320]","[1140, 0]","[1440, 0]","[2015 1, 2015 1]","[nan, nan]","[nan, nan]","[nan, nan]","[nan, nan]"
2,Q_nexus_HH_07,"[Charger, Decoder, Ind_lights, Out_lights, TV]","[5, 5, 18, 18, 80]","[4, 1, 11, 2, 1]","[120, 240, 720, 720, 240]","[120, 240, 720, 720, 240]","[720, 720, 0, 0, 720]","[1200, 1260, 360, 360, 1260]","[0, 0, 1080, 1080, 0]","[0, 0, 1440, 1440, 0]","[Before connection, 2012 1, 2012 11, 2012 2, 2...","[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan]"
3,Q_nexus_HH_09,"[Charger, Ind_lights, Out_lights, Radio, Speak...","[5, 18, 18, 10, 40, 80]","[4, 10, 4, 2, 1, 1]","[150, 180, 180, 180, 120, 120]","[60, 60, 60, 180, 120, 60]","[0, 1080, 1080, 1020, 1080, 1140]","[1440, 1260, 1260, 1320, 1260, 1260]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[Before connection, 2013 10, 2013 4, 2013 1, 2...","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"
4,Q_nexus_HH_10,"[Charger, Ind_lights, Out_lights, Pump, Radio,...","[5, 18, 18, 300, 10, 80]","[2, 10, 2, 1, 2, 1]","[480, 180, 660, 30, 420, 180]","[60, 60, 660, 30, 420, 180]","[0, 1140, 0, 1080, 360, 1140]","[360, 1260, 360, 1320, 480, 1260]","[1320, 0, 1140, 0, 1080, 0]","[1440, 0, 1440, 0, 1260, 0]","[Before connection, 2009 10, 2009 2, 2011 1, 2...","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]"

In [70]:
Q_Appliances = Q_Appliances.new_feature("Presence_phone_charger",
                                            appliances_modifiers.presence_appliances("Item", "Charger"))
Q_Appliances = Q_Appliances.new_feature("Presence_iron", appliances_modifiers.presence_appliances("Item", "Iron"))

Q_Appliances = Q_Appliances.new_feature("Presence_TV", appliances_modifiers.presence_appliances("Item", "TV"))

Q_Appliances = Q_Appliances.new_feature("Presence_refrigerator/freezer",
                                        appliances_modifiers.presence_appliances("Item", "Refrigerator"))

Q_Appliances = Q_Appliances.new_feature("Presence_stereo", appliances_modifiers.presence_appliances("Item", "Stereo"))
Q_Appliances = Q_Appliances.new_feature("Presence_radio", appliances_modifiers.presence_appliances("Item", "Radio"))
Q_Appliances = Q_Appliances.new_feature("Presence_radio/stereo",
                                        common_modifiers.multi_unify_presence(
                                            ['Presence_radio', 'Presence_stereo']))

Q_Appliances = Q_Appliances.new_feature("Presence_fan", appliances_modifiers.presence_appliances("Item", "Fan"))
Q_Appliances = Q_Appliances.new_feature("Presence_DVD_player", lambda x: 0)

Q_Appliances = Q_Appliances.select([
    ID_COL, "Presence_phone_charger", "Presence_iron", "Presence_TV", "Presence_refrigerator/freezer",
    "Presence_radio/stereo", "Presence_DVD_player", "Presence_fan"
])

Q_Appliances.preview(1000)

,ID,Presence_phone_charger,Presence_iron,Presence_TV,Presence_refrigerator/freezer,Presence_radio/stereo,Presence_DVD_player,Presence_fan
0,Q_nexus_HH_04,0,0,0,0,0,0,0
1,Q_nexus_HH_06,0,0,0,0,1,0,0
2,Q_nexus_HH_07,1,0,1,0,0,0,0
3,Q_nexus_HH_09,1,0,1,0,1,0,0
4,Q_nexus_HH_10,1,0,1,0,1,0,0
5,Q_nexus_HH_11,1,0,1,0,1,0,0
6,Q_nexus_HH_12,1,0,1,0,1,0,0
7,Q_nexus_US_01,0,0,0,0,0,0,0
8,Q_nexus_US_03,1,0,0,0,0,0,1
9,Q_nexus_US_04,1,0,0,0,0,0,0
10,Q_nexus_US_05,1,0,0,0,0,0,0
11,Q_nexus_US_07,0,0,0,0,0,0,0
12,Q_nexus_US_08,1,0,0,0,1,0,0
13,Q_nexus_US_09,1,0,0,0,0,0,0
14,Q_nexus_US_11,1,0,1,0,1,0,0
15,Q_nexus_US_13,1,0,0,0,0,0,0
16,Q_nexus_US_14,0,0,0,0,0,0,0
17,Q_nexus_US_15,1,0,0,0,1,0,0
18,Q_nexus_US_16,0,0,1,0,1,0,0
19,Q_nexus_US_17,0,0,0,0,0,0,0
20,Q_nexus_US_18,1,0,1,0,1,0,0
21,Q_nexus_US_20,1,0,1,0,1,0,0
22,Q_nexus_US_21,1,0,0,0,1,0,0
23,Q_nexus_US_22,1,0,1,0,1,0,0
24,Q_nexus_US_23,1,0,0,0,1,0,0
25,Q_nexus_US_24,1,0,0,0,1,0,0
26,Q_nexus_US_25,1,0,1,0,0,0,0
27,Q_nexus_US_26,0,0,0,0,0,0,0
28,Q_nexus_US_27,1,0,0,0,1,0,0
29,Q_nexus_US_28,0,0,0,0,0,0,0
30,Q_nexus_US_29,1,0,0,0,1,0,1

In [71]:
CEFA_2016_EE = Q_General.merge(Q_Appliances, ID_COL)
CEFA_2016_EE = CEFA_2016_EE.merge(Q_Supply, ID_COL)

CEFA_2016_EE = CEFA_2016_EE.apply(common_modifiers.rename({
    ID_COL: "ID"
}))
CEFA_2016_EE = CEFA_2016_EE.apply(common_modifiers.add_const_driver_many({
    "Hours_available_electricity": np.nan,
    "Years_of_HHH_in_community": np.nan,
    'Dwelling_quality_index': np.nan,
    'Ownership_motorized_vehicle': np.nan,
    'Ownership_small_livestock': np.nan,
    'Clean_fuel': np.nan,
    'Ownership_large_livestock': np.nan,
    'HH_with_home_business': np.nan,
}))
CEFA_2016_EE = CEFA_2016_EE.select(["ID"] + constants.DRIVERS_LIST + constants.PRESENCE_LIST)
CEFA_2016_EE.preview()

,ID,Years_of_HHH_in_community,Dwelling_quality_index,Hours_available_electricity,Measurement_age,Monthly_expenditure,Number_of_rooms,Climate_zone_lev_1,Climate_zone_lev_2,Age_HHH,...,Ownership_large_livestock,Clean_fuel,Tariff_payment_frequency,Presence_refrigerator/freezer,Presence_iron,Presence_fan,Presence_DVD_player,Presence_radio/stereo,Presence_phone_charger,Presence_TV
0,Q_nexus_HH_04,NaN,NaN,NaN,4.0,20000.0,5.0,12,12,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0
1,Q_nexus_HH_06,NaN,NaN,NaN,1.0,30000.0,4.0,12,12,NaN,...,NaN,NaN,NaN,0,0,0,0,1,0,0
2,Q_nexus_HH_07,NaN,NaN,NaN,4.0,60000.0,13.0,12,12,NaN,...,NaN,NaN,NaN,0,0,0,0,0,1,1
3,Q_nexus_HH_09,NaN,NaN,NaN,3.0,50000.0,8.0,12,12,NaN,...,NaN,NaN,Monthly,0,0,0,0,1,1,1
4,Q_nexus_HH_10,NaN,NaN,NaN,7.0,500000.0,10.0,12,12,52.0,...,NaN,NaN,Monthly,0,0,0,0,1,1,1

In [73]:
CEFA_2016_EE.to_csv(root.joinpath("CEFA_2016_nexus_EE.csv"))