In [1]:
import os
import sys
from utils import common_modifiers
import numpy as np
sys.path.append("../../")  # Adds higher directory to python modules path.
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '1'
from core.ODEDataset import ODEDataset

In [2]:
# Load the datasets
EE_2016 = ODEDataset("EE_2016")
EE_2016.from_csv("../../playground/data/CEFA_Tanzania/2016_EE/CEFA_2016_EE.csv")

EE_2017 = ODEDataset("EE_2017")
EE_2017.from_csv("../../playground/data/CEFA_Tanzania/2017_EE/CEFA_2017_EE.csv")


EE_2016_nexus = ODEDataset("EE_2016_nexus")
EE_2016_nexus.from_csv("../../playground/data/CEFA_Tanzania/2016_EE_nexus/CEFA_2016_EE.csv")

In [3]:
# Merge the datasets
CEFA_Tanzania = EE_2016.concat(EE_2017).concat(EE_2016_nexus)

CEFA_Tanzania.to_csv("../../playground/data/CEFA_Tanzania/CEFA_Tanzania.csv")

In [4]:
CEFA_Tanzania.preview()

,Unnamed: 0,ID,Years_of_HHH_in_community,Dwelling_quality_index,Hours_available_electricity,Measurement_age,Monthly_expenditure,Number_of_rooms,Climate_zone_lev_1,Climate_zone_lev_2,...,Ownership_large_livestock,Clean_fuel,Tariff_payment_frequency,Presence_refrigerator/freezer,Presence_iron,Presence_fan,Presence_DVD_player,Presence_radio/stereo,Presence_phone_charger,Presence_TV
0,0,Q_EE_HH_01,NaN,NaN,NaN,2.0,10000.0,10.0,12,12,...,NaN,NaN,Monthly,0,0,0,0,1,1,1
1,1,Q_EE_HH_02,NaN,NaN,NaN,2.0,100000.0,7.0,12,12,...,NaN,NaN,Monthly,0,0,0,0,1,1,1
2,2,Q_EE_HH_03,NaN,NaN,NaN,2.0,20000.0,4.0,12,12,...,NaN,NaN,Monthly,0,0,0,0,1,1,1
3,3,Q_EE_HH_04,NaN,NaN,NaN,2.0,100000.0,7.0,12,12,...,NaN,NaN,Monthly,0,0,0,0,0,1,0
4,4,Q_EE_HH_05,NaN,NaN,NaN,2.0,40000.0,4.0,12,12,...,NaN,NaN,Monthly,0,1,0,0,1,1,1

In [5]:
len(CEFA_Tanzania)

119