In [1]:
import pandas as pd
from collections import Counter

In [2]:
df = pd.read_csv('data/Database_ready_v2.csv')

/tmp/ipykernel_353115/2555045675.py:1: DtypeWarning: Columns (12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Database_ready_v2.csv')

## Choosing the target column "presence of light bulb"

In [3]:
target_raw = df["Presence_light_bulb"]

### Drivers Columns
removing all columns about appliances (presence and count)

In [4]:
all_drivers = [i for i in df.columns if (not i.startswith("Presence_") and not  i.startswith("m_"))]
# df[drivers[4:]].to_csv("./data/drivers.csv")
# remove first columns about questionare 
all_drivers = all_drivers[4:]

### Discard repeated columns 

- Urban/rural
- Type_of_business
- Socio_status_HHH
- Male/female_HHH 
- System_management
- House_ownership_rental_free
- Marital_status_HHH
- Climate_zone_lev_1
- Climate_zone_lev_2
- Climate_zone_lev_3
- Tariff_type
- Connection_type
- Respondent_category
- Tariff_payment
- Tariff_payment_frequency
- Tariff_payment_method

In [5]:
duplicated_drivers = [ "Urban/rural",
                       "Socio_status_HHH",
                       "Male/female_HHH",
                       "System_management",
                       "House_ownership_rental_free",
                       "Marital_status_HHH",
                       "Climate_zone_lev_1",
                       "Climate_zone_lev_2",
                       "Climate_zone_lev_3",
                       "Tariff_type",
                       "Connection_type",
                       "Respondent_category",
                       "Tariff_payment",
                       "Tariff_payment_method",
                       "Tariff_payment_frequency",
                       "Type_of_business"
                       ]
drivers = [i for i in all_drivers if i not in duplicated_drivers]
print("Remaining drivers : ", len(drivers))

Remaining drivers :  132

Generate dataframe with the new drivers list and fill null values with zeros

In [6]:
df = df[drivers].fillna(0)
df

,Income_of_household,Monthly_expenditure,People_per_household,Number_of_rooms,Distance_from_grid,Distance_from_city,Population,Population_density_lev_2,Population_density_lev_3,Relative_wealth_index_lev_2,...,Type_of_business_H,Type_of_business_I,Type_of_business_K,Type_of_business_L,Type_of_business_Not_applicable,Type_of_business_P,Type_of_business_Q,Type_of_business_R,Type_of_business_S,Type_of_business_T
0,47.544404,15.848135,5.0,10.0,18.013,39.542,0.0,27.012419,30.881265,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,158.481346,158.481346,6.0,7.0,18.013,39.542,0.0,27.012419,30.881265,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31.696269,31.696269,6.0,4.0,18.013,39.542,0.0,27.012419,30.881265,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,158.481346,158.481346,6.0,7.0,18.013,39.542,0.0,27.012419,30.881265,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,158.481346,63.392538,2.0,4.0,18.013,39.542,0.0,27.012419,30.881265,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7760,0.000000,0.000000,8.0,5.0,0.000,0.000,0.0,379.988424,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7761,0.000000,0.000000,8.0,3.0,0.000,0.000,0.0,379.988424,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7762,0.000000,0.000000,3.0,3.0,0.000,0.000,0.0,4837.621288,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7763,0.000000,0.000000,9.0,1.0,0.000,0.000,0.0,4837.621288,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7764,0.000000,0.000000,1.0,4.0,0.000,0.000,0.0,379.988424,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df["Respondent_category_Household"]

0       1
1       1
2       1
3       1
4       1
       ..
7760    1
7761    1
7762    1
7763    1
7764    1
Name: Respondent_category_Household, Length: 7765, dtype: int64

## Textual columns

In [8]:
for driver in drivers:
    if pd.api.types.is_string_dtype(df[driver]):
        print(f"The driver: {driver}  contains strings.")

Now all drivers columns contain numeric values so we can train our model. We will export the new dataframe to a new file: 
`data/numeric_data.csv`

In [9]:
df.to_csv("data/numeric_data.csv")